interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-16T14:58:32Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "Standard_Akamai"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/Standard-Akamai-profile?api-version=2017-10-12
  response:
    body:
      string: "{\r\n  \"name\":\"Standard-Akamai-profile\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/Standard-Akamai-profile\",\"type\":\"Microsoft.Cdn/profiles\",\"tags\":{\r\n
        \   \r\n  },\"location\":\"WestUs\",\"sku\":{\r\n    \"name\":\"Standard_Akamai\"\r\n
        \ },\"properties\":{\r\n    \"provisioningState\":\"Creating\",\"resourceState\":\"Creating\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/a659d63c-bb65-498a-a017-be10a2fd897b?api-version=2017-10-12
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1148'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/a659d63c-bb65-498a-a017-be10a2fd897b?api-version=2017-10-12
  response:
    body:
      string: "{\r\n  \"status\":\"InProgress\",\"error\":{\r\n    \"code\":\"None\",\"message\":null\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"isCompressionEnabled": false, "isHttpAllowed":
      true, "isHttpsAllowed": true, "origins": [{"name": "origin-0", "properties":
      {"hostName": "www.example.com", "httpPort": 80, "httpsPort": 443}}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/Standard-Akamai-profile/endpoints/endpoint000002?api-version=2017-10-12
  response:
    body:
      string: "{\r\n  \"name\":\"endpoint000002\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/Standard-Akamai-profile/endpoints/endpoint000002\",\"type\":\"Microsoft.Cdn/profiles/endpoints\",\"tags\":{\r\n
        \   \r\n  },\"location\":\"WestUs\",\"properties\":{\r\n    \"hostName\":\"endpoint000002.azureedge.net\",\"originHostHeader\":null,\"provisioningState\":\"Creating\",\"resourceState\":\"Creating\",\"isHttpAllowed\":true,\"isHttpsAllowed\":true,\"queryStringCachingBehavior\":\"IgnoreQueryString\",\"originPath\":null,\"origins\":[\r\n
        \     {\r\n        \"name\":\"origin-0\",\"properties\":{\r\n          \"hostName\":\"www.example.com\",\"httpPort\":80,\"httpsPort\":443\r\n
        \       }\r\n      }\r\n    ],\"customDomains\":[\r\n      \r\n    ],\"contentTypesToCompress\":[\r\n
        \     \r\n    ],\"isCompressionEnabled\":false,\"optimizationType\":null,\"probePath\":null,\"geoFilters\":[\r\n
        \     \r\n    ],\"deliveryPolicy\":null\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/027f72ea-deb0-40db-b664-9292dffc41dc?api-version=2017-10-12
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1154'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "Standard_Verizon"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/Standard-Verizon-profile?api-version=2017-10-12
  response:
    body:
      string: "{\r\n  \"name\":\"Standard-Verizon-profile\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/Standard-Verizon-profile\",\"type\":\"Microsoft.Cdn/profiles\",\"tags\":{\r\n
        \   \r\n  },\"location\":\"WestUs\",\"sku\":{\r\n    \"name\":\"Standard_Verizon\"\r\n
        \ },\"properties\":{\r\n    \"provisioningState\":\"Creating\",\"resourceState\":\"Creating\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/8d137f75-75ea-44c1-8fae-edf2e4d13507?api-version=2017-10-12
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1172'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "properties": {"isCompressionEnabled": false, "isHttpAllowed":
      true, "isHttpsAllowed": true, "origins": [{"name": "origin-0", "properties":
      {"hostName": "www.example.com", "httpPort": 80, "httpsPort": 443}}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cd[...]
[...]
- request:
    body: '{"location": "westus", "sku": {"name": "Premium_Verizon"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/Premium-Verizon-profile?api-version=2017-10-12
  response:
    body:
      string: "{\r\n  \"name\":\"Premium-Verizon-profile\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/profiles/Premium-Verizon-profile\",\"type\":\"Microsoft.Cdn/profiles\",\"tags\":{\r\n
        \   \r\n  },\"location\":\"WestUs\",\"sku\":{\r\n    \"name\":\"Premium_Verizon\"\r\n
        \ },\"properties\":{\r\n    \"provisioningState\":\"Creating\",\"resourceState\":\"Creating\"\r\n
        \ }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Cdn/operationresults/46e318d5-2005-445c-a8ab-ef61a87af65f?api-version=2017-10-12
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1171'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "properties": {"isCompressionEnabled": false, "isHttpAllowed":
      true, "isHttpsAllowed": true, "origins": [{"name": "origin-0", "properties":
      {"hostName": "www.example.com", "httpPort": 80, "httpsPort": 443}}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Cd[...]
[...]
