interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-16T14:44:25Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "delete-me-plan000002", "type": "Microsoft.Web/serverfarms", "location":
      "westus", "properties": {"skuName": "B1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/validate?api-version=2018-02-01
  response:
    body:
      string: '{"status":"Success","error":null}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {"plan": "plan1"}, "properties": {"perSiteScaling":
      false, "isXenon": false}, "sku": {"name": "B1", "tier": "BASIC", "capacity":
      1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/delete-me-plan000002?api-version=2018-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/delete-me-plan000002","name":"delete-me-plan000002","type":"Microsoft.Web/serverfarms","kind":"app","location":"West
        US","tags":{"plan":"plan1"},"properties":{"serverFarmId":48240,"name":"delete-me-plan000002","workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-WestUSwebspace","subscription":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":3,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"West
        US","perSiteScaling":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":{"plan":"plan1"},"kind":"app","resourceGroup":"clitest.rg000001","reserved":false,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-bay-043_48240","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null},"sku":{"name":"B1","tier":"Basic","size":"B1","family":"B","capacity":1}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1184'
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"location": "West US", "properties": {"serverFarmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/delete-me-plan000002",
      "reserved": false, "isXenon": false, "hyperV": false, "siteConfig": {"netFrameworkVersion":
      "v4.6", "appSettings": [{"name": "WEBSITE_NODE_DEFAULT_VERSION", "value": "10.14"}],
      "localMySqlEnabled": false, "http20Enabled": true}, "scmSiteAlsoStopped": false}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/delete-me-web000003?api-version=2018-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/delete-me-web000003","name":"delete-me-web000003","type":"Microsoft.Web/sites","kind":"app","location":"West
        US","properties":{"name":"delete-me-web000003","state":"Running","hostNames":["delete-me-web000003.azurewebsites.net"],"webSpace":"clitest.rg000001-WestUSwebspace","selfLink":"https://waws-prod-bay-043.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-WestUSwebspace/sites/delete-me-web000003","repositorySiteName":"delete-me-web000003","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["delete-me-web000003.azurewebsites.net","delete-me-web000003.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"delete-me-web000003.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"delete-me-web000003.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/delete-me-plan000002","reserved":false,"isXenon":false,"hyperV":false,"lastModifiedTimeUtc":"2019-10-16T14:44:49.833","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":null,"deploymentId":"delete-me-web000003","trafficManagerHostNames":null,"sku":"Basic","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"clientCertExclusionPaths":null,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"kind":"app","inboundIpAddress":"104.40.92.107","possibleInboundIpAddresses":"104.40.92.107","outboundIpAddresses":"104.40.88.152,104.40.87.132,104.40.95.34,104.40.88.78","possibleOutboundIpAddresses":"104.40.88.152,104.40.87.132,104.40.95.34,104.40.88.78","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bay-043","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"delete-me-web000003.azurewebsites.net","slotSwapStatus":null,"httpsOnly":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"buildVersion":null,"targetBuildVersion":null}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"1D5843043767130"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '498'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/delete-me-web000003/publishxml?api-version=2018-11-01
  response:
    body:
      string: <publishData><publishProfile profileName="delete-me-web000003 - Web
        Deploy" publishMethod="MSDeploy" publishUrl="delete-me-web000003.scm.azurewebsites.net:443"
        msdeploySite="delete-me-web000003" userName="$delete-me-web000003" userPWD="7Haa1qLAAwGbg4qadnbrjk62znxWZCuLppXdSgu4c3pl8Rcy6jnFeZMGvb5s"
        destinationAppUrl="http://delete-me-web000003.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="delete-me-web000003
        - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-bay-043.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="delete-me-web000003\$delete-me-web000003"
        userPWD="7Haa1qLAAwGbg4qadnbrjk62znxWZCuLppXdSgu4c3pl8Rcy6jnFeZMGvb5s" destinationAppUrl="http://delete-me-web000003.azurewebsites.net"
        SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLink="http://windows.azure.com" webSystem="WebSites"><databases
        /></publishProfile><publishProfile profileName="delete-me-web000003 - ReadOnly
        - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-bay-043dr.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="delete-me-web000003\$delete-me-web000003"
        userPWD="7Haa1qLAAwGbg4qadnbrjk62znxWZCuLppXdSgu4c3pl8Rcy6jnFeZMGvb5s" destinationAppUrl="http://delete-me-web000003.azurewebsites.net"
        SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink=""
        controlPanelLink="http://windows.azure.com" webSystem="WebSites"><databases
        /></publishProfile></publishData>
    headers:
      content-type:
      - application/xml
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11996'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web","namespace":"Microsoft.Web","authorization":{"applicationId":"abfa0a7c-a6b6-4736-8310-5855508787cd","roleDefinitionId":"f47ed98b-b063-4a5b-9e10-4b9b44fa7735"},"resourceTypes":[{"resourceType":"publishingUsers","locations":["Central
        US","North Europe","West Europe","Southeast Asia","Korea Central","Korea South","West
        US","East US","Japan West","Japan East","East Asia","East US 2","North Central
        US","South Central US","Brazil South","Australia East","Australia Southeast","West
        India","Central India","South India","Canada Central","Canada East","West
        Central US","UK West","UK South","West US 2","MSFT West US","MSFT East US","MSFT
        East Asia","MSFT North Europe","East US 2 (Stage)","East Asia (Stage)","Central
        US (Stage)","North Central US (Stage)","France Central","South Africa North","Australia
        Central","Germany West Central","East US 2 EUAP","Central US EUAP"],"apiVersions":["2018-11-01","2018-02-01","2016-03-01","2015-08-01","2015-07-01","2015-06-01","2015-05-01","2015-04-01","2015-02-01","2014-11-01","2014-06-01","2014-04-01-preview","2014-04-01"],"apiProfiles":[{"profileVersion":"2017-03-09-profile","apiVersion":"2016-03-01"},{"profileVersion":"2018-03-01-hybrid","apiVersion":"2016-03-01"},{"profileVersion":"2018-06-01-profile","apiVersion":"2016-03-01"},{"profileVersion":"2019-03-01-hybrid","apiVersion":"2018-02-01"}],"capabilities":"None"},{"resourceType":"ishostnameavailable","locations":["Central
        US","North Europe","West Europe","Southeast Asia","Korea Central","Korea South","West
        US","East US","Japan West","Japan East","East Asia","East US 2","North Central
        US","South Central US","Brazil South","Australia East","Australia Southeast","West
        India","Central India","South India","Canada Central","Canada East","West
        Central US","UK West","UK South","West US 2","MSFT West US","MSFT East[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/Central%20US/deletedSites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/Central
        US/deletedSites/72678","name":"cliwavo6gbvwb6","type":"Microsoft.Web/locations/deletedSites","properties":{"deletedSiteId":72678,"deletedTimestamp":"2019-10-16T04:48:06.4080361","subscription":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","resourceGroup":"clitest.rgu2yghzh37x","webSpace":"clitest.rgu2yghzh37x-CentralUSwebspace","stamp":"waws-prod-dm1-149","deletedSiteName":"cliwavo6gbvwb6","slot":"Production","kind":"app","geoRegionName":"Central
        US","correlationId":null}}],"nextLink":null,"id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/North%20Europe/deletedSites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West
        US/deletedSites/26432974","name":"hcwebappss3ko7cshdf6bmom","type":"Microsoft.Web/locations/deletedSites","properties"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West%20Europe/deletedSites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West
        US/deletedSites/26432974","name":"hcwebappss3ko7cshdf6bmom","type":"Microsoft.Web/locations/deletedSites","properties":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/Southeast%20Asia/deletedSites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West
        US/deletedSites/26432974","name":"hcwebappss3ko7cshdf6bmom","type":"Microsoft.Web/locations/deletedSites","propertie[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West%20US/deletedSites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West
        US/deletedSites/26432974","name":"hcwebappss3ko7cshdf6bmom","type":"Microsoft.Web/locations/deletedSites","properties":{"de[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/East%20US/deletedSites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West
        US/deletedSites/26432974","name":"hcwebappss3ko7cshdf6bmom","type":"Microsoft.Web/locations/deletedSites","properties":{"de[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/Japan%20East/deletedSites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West
        US/deletedSites/26432974","name":"hcwebappss3ko7cshdf6bmom","type":"Microsoft.Web/locations/deletedSites","properties":{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/East%20Asia/deletedSites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West
        US/deletedSites/26432974","name":"hcwebappss3ko7cshdf6bmom","type":"Microsoft.Web/locations/deletedSites","properties":{"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/East%20US%202/deletedSites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West
        US/deletedSites/26432974","name":"hcwebappss3ko7cshdf6bmom","type":"Microsoft.Web/locations/deletedSites","properties":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/North%20Central%20US/deletedSites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West
        US/deletedSites/26432974","name":"hcwebappss3ko7cshdf6bmom","type":"Microsoft.Web/locations/deletedSites","prope[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/South%20Central%20US/deletedSites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West
        US/deletedSites/26432974","name":"hcwebappss3ko7cshdf6bmom","type":"Microsoft.Web/locations/deletedSites","prope[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/Brazil%20South/deletedSites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West
        US/deletedSites/26432974","name":"hcwebappss3ko7cshdf6bmom","type":"Microsoft.Web/locations/deletedSites","properties"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/Australia%20East/deletedSites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West
        US/deletedSites/26432974","name":"hcwebappss3ko7cshdf6bmom","type":"Microsoft.Web/locations/deletedSites","propertie[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/Australia%20Southeast/deletedSites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West
        US/deletedSites/26432974","name":"hcwebappss3ko7cshdf6bmom","type":"Microsoft.Web/locations/deletedSites","prop[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/South%20India/deletedSites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West
        US/deletedSites/26432974","name":"hcwebappss3ko7cshdf6bmom","type":"Microsoft.Web/locations/deletedSites","properties":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/Canada%20Central/deletedSites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West
        US/deletedSites/26432974","name":"hcwebappss3ko7cshdf6bmom","type":"Microsoft.Web/locations/deletedSites","propertie[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/Canada%20East/deletedSites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West
        US/deletedSites/26432974","name":"hcwebappss3ko7cshdf6bmom","type":"Microsoft.Web/locations/deletedSites","properties":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/UK%20West/deletedSites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West
        US/deletedSites/26432974","name":"hcwebappss3ko7cshdf6bmom","type":"Microsoft.Web/locations/deletedSites","properties":{"de[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/UK%20South/deletedSites?api-version=2018-02-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/West
        US/deletedSites/26432974","name":"hcwebappss3ko7cshdf6bmom","type":"Microsoft.Web/locations/deletedSites","properties":{"d[...]
