interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_cosmosdb_database000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001","name":"cli_test_cosmosdb_database000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-16T16:11:37Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "kind": "GlobalDocumentDB", "properties": {"locations":
      [{"locationName": "westus", "failoverPriority": 0, "isZoneRedundant": false}],
      "databaseAccountOfferType": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2015-04-08
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Initializing","ipRangeFilter":"","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"cli000003-westus","locationName":"West
        US","provisioningState":"Initializing","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"cli000003-westus","locationName":"West
        US","failoverPriority":0}],"cors":[],"capabilities":[]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/df4ded08-d726-4db5-846c-c86ba046a704?api-version=2015-04-08
      content-location:
      - https://management.documents.azure.com:450/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_cosmosdb_database5bd3ldy3lbm2v5mouvjwwhlrjci7xxhejxdkx4kavrmrnftsz/providers/Microsoft.DocumentDB/databaseAccounts/cliweolar7khzti?api-version=2015-04-08
      content-type:
      - application/json
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/operationResults/df4ded08-d726-4db5-846c-c86ba046a704?api-version=2015-04-08
      x-ms-gatewayversion:
      - version=2.7.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 200
      message: Ok
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/df4ded08-d726-4db5-846c-c86ba046a704?api-version=2015-04-08
  response:
    body:
      string: '{"status":"Dequeued","error":{}}'
    headers:
      content-location:
      - https://management.documents.azure.com:450/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.DocumentDB/locations/westus/operationsStatus/df4ded08-d726-4db5-846c-c86ba046a704?api-version=2015-04-08
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.7.0
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003?api-version=2015-04-08
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003","name":"cli000003","location":"West
        US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://cli000003.documents.azure.com:443/","ipRangeFilter":"","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"databaseAccountOfferType":"Standard","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"cli0[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_cosmosdb_database000001/providers/Microsoft.DocumentDB/databaseAccounts/cli000003/listKeys?api-version=2015-04-08
  response:
    body:
      string: '{"primaryMasterKey":"8ydqJdlEyxJffMZ9lgcqZpRP16rBRi2IoeEns0rTpQredkhc6XbzSbE2JduZwnaiuqQANiMrubUZykDa8ZdIjQ==","secondaryMasterKey":"9lVI0ymn0Yh2LswchfeYMUW6h0DTA9okyhkshuq9nqH2ta5gQZ67lvjFOQ9g93puCYUrpe9uGYMD4HzhIX0XOQ==","primaryReadonlyMasterKey":"hkNCyAZB1Ap2ZUNf83X45mB1ixUGfNPpyPXtGuwRrdkFRh43kyi665JaDYkBE0UmaOEgUzClykprXOXgBtL6vA==","secondaryReadonlyMasterKey":"bgMDnueFPpc7FxmAmQc68kxYzQY3F0nx3n1xUDFpcoNAfJq0AxYQAWr47LQUxqnF73s4D7qhIMYj8vLgY5aY1A=="}'
    headers:
      content-type:
      - application/json
      x-ms-gatewayversion:
      - version=2.7.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Wed, 16 Oct 2019 16:19:56 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-session-token:
      - ''
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000003.documents.azure.com/
  response:
    body:
      string: '{"_self":"","id":"cli000003","_rid":"cli000003.documents.azure.com","media":"//media/","addresses":"//addresses/","_dbs":"//dbs/","writableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000003-westus.documents.azure.com:443/"}],"readableLocations":[{"name":"West
        US","databaseAccountEndpoint":"https://cli000003-westus.documents.azure.com:443/"}],"enableMultipleWriteLocations":false,"userReplicationPolicy":{"asyncReplication":false,"minReplicaSetSize":3,"maxReplicasetSize":4},"userConsistencyPolicy":{"defaultConsistencyLevel":"Session"},"systemReplicationPolicy":{"minReplicaSetSize":3,"maxReplicasetSize":4},"readPolicy":{"primaryReadCoefficient":1,"secondaryReadCoefficient":1},"queryEngineConfiguration":"{\"maxSqlQueryInputLength\":262144,\"maxJoinsPerSqlQuery\":5,\"maxLogicalAndPerSqlQuery\":500,\"maxLogicalOrPerSqlQuery\":500,\"maxUdfRefPerSqlQuery\":10,\"maxInExpressionItemsCount\":16000,\"queryMaxInMemorySortDocumentCount\":500,\"maxQueryRequestTimeoutFraction\":0.9,\"sqlAllowNonFiniteNumbers\":false,\"sqlAllowAggregateFunctions\":true,\"sqlAllowSubQuery\":true,\"sqlAllowScalarSubQuery\":true,\"allowNewKeywords\":true,\"sqlAllowLike\":false,\"sqlAllowGroupByClause\":true,\"maxSpatialQueryCells\":12,\"spatialMaxGeometryPointCount\":256,\"sqlAllowTop\":true,\"enableSpatialIndexing\":true}"}'
    headers:
      content-location:
      - https://cliweolar7khzti.documents.azure.com/
      content-type:
      - application/json
      x-ms-databaseaccount-consumed-mb:
      - '0'
      x-ms-databaseaccount-provisioned-mb:
      - '0'
      x-ms-databaseaccount-reserved-mb:
      - '0'
      x-ms-gatewayversion:
      - version=2.7.0
      x-ms-max-media-storage-usage-mb:
      - '2048'
      x-ms-media-storage-usage-mb:
      - '0'
    status:
      code: 200
      message: Ok
- request:
    body: '{"id":"cli000002"}'
    headers:
      Content-Type:
      - application/json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Wed, 16 Oct 2019 16:19:57 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: POST
    uri: https://cli000003-westus.documents.azure.com/dbs
  response:
    body:
      string: '{"id":"cli000002","_rid":"xwUIAA==","_self":"dbs\/xwUIAA==\/","_etag":"\"00008a01-0000-0700-0000-5da7432f0000\"","_colls":"colls\/","_users":"users\/","_ts":1571242799}'
    headers:
      content-type:
      - application/json
      etag:
      - '"00008a01-0000-0700-0000-5da7432f0000"'
      lsn:
      - '4'
      x-ms-cosmos-llsn:
      - '4'
      x-ms-cosmos-quorum-acked-llsn:
      - '3'
      x-ms-current-replica-set-size:
      - '4'
      x-ms-current-write-quorum:
      - '3'
      x-ms-gatewayversion:
      - version=2.7.0
      x-ms-global-committed-lsn:
      - '3'
      x-ms-last-state-change-utc:
      - Tue, 15 Oct 2019 17:10:48.425 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-quorum-acked-lsn:
      - '3'
      x-ms-request-charge:
      - '4.95'
      x-ms-resource-quota:
      - databases=1000;
      x-ms-resource-usage:
      - databases=1;
      x-ms-schemaversion:
      - '1.8'
      x-ms-serviceversion:
      - version=2.7.0.0
      x-ms-session-token:
      - 0:-1#4
      x-ms-transport-request-id:
      - '35359'
      x-ms-xp-role:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Wed, 16 Oct 2019 16:20:02 GMT
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: GET
    uri: https://cli000003-westus.documents.azure.com/dbs/cli000002/
  response:
    body:
      string: '{"id":"cli000002","_rid":"xwUIAA==","_self":"dbs\/xwUIAA==\/","_etag":"\"00008a01-0000-0700-0000-5da7432f0000\"","_colls":"colls\/","_users":"users\/","_ts":1571242799}'
    headers:
      content-location:
      - https://cliweolar7khzti-westus.documents.azure.com/dbs/clivryybu4re7og/
      content-type:
      - application/json
      etag:
      - '"00008a01-0000-0700-0000-5da7432f0000"'
      lsn:
      - '4'
      x-ms-cosmos-item-llsn:
      - '4'
      x-ms-cosmos-llsn:
      - '4'
      x-ms-gatewayversion:
      - version=2.7.0
      x-ms-global-committed-lsn:
      - '4'
      x-ms-item-lsn:
      - '4'
      x-ms-last-state-change-utc:
      - Tue, 15 Oct 2019 17:11:02.280 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '2'
      x-ms-resource-quota:
      - databases=1000;
      x-ms-resource-usage:
      - databases=1;
      x-ms-schemaversion:
      - '1.8'
      x-ms-serviceversion:
      - version=2.7.0.0
      x-ms-session-token:
      - 0:-1#4
      x-ms-transport-request-id:
      - '70276'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: '{"query":"SELECT * FROM root r WHERE r.id=@id","parameters":[{"name":"@id","value":"clivryybu4re7og"}]}'
    headers:
      Content-Type:
      - application/query+json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Wed, 16 Oct 2019 16:20:07 GMT
      x-ms-documentdb-isquery:
      - 'true'
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: POST
    uri: https://cli000003-westus.documents.azure.com/dbs
  response:
    body:
      string: '{"_rid":"","Databases":[{"id":"cli000002","_rid":"xwUIAA==","_self":"dbs\/xwUIAA==\/","_etag":"\"00008a01-0000-0700-0000-5da7432f0000\"","_colls":"colls\/","_users":"users\/","_ts":1571242799}],"_count":1}'
    headers:
      content-type:
      - application/json
      lsn:
      - '4'
      x-ms-cosmos-llsn:
      - '4'
      x-ms-gatewayversion:
      - version=2.7.0
      x-ms-global-committed-lsn:
      - '4'
      x-ms-item-count:
      - '1'
      x-ms-last-state-change-utc:
      - Tue, 15 Oct 2019 17:11:02.280 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '5.66'
      x-ms-resource-quota:
      - databases=1000;
      x-ms-resource-usage:
      - databases=1;
      x-ms-schemaversion:
      - '1.8'
      x-ms-serviceversion:
      - version=2.7.0.0
      x-ms-session-token:
      - 0:-1#4
      x-ms-transport-request-id:
      - '60555'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
[...]
- request:
    body: '{"query":"SELECT * FROM root r WHERE r.id=@id","parameters":[{"name":"@id","value":"clivryybu4re7og"}]}'
    headers:
      Content-Type:
      - application/query+json
      x-ms-consistency-level:
      - Session
      x-ms-date:
      - Wed, 16 Oct 2019 16:20:24 GMT
      x-ms-documentdb-isquery:
      - 'true'
      x-ms-documentdb-query-iscontinuationexpected:
      - 'False'
      x-ms-version:
      - '2018-09-17'
    method: POST
    uri: https://cli000003-westus.documents.azure.com/dbs
  response:
    body:
      string: '{"_rid":"","Databases":[],"_count":0}'
    headers:
      content-type:
      - application/json
      lsn:
      - '5'
      x-ms-cosmos-llsn:
      - '5'
      x-ms-gatewayversion:
      - version=2.7.0
      x-ms-global-committed-lsn:
      - '5'
      x-ms-item-count:
      - '0'
      x-ms-last-state-change-utc:
      - Tue, 15 Oct 2019 18:34:28.222 GMT
      x-ms-number-of-read-regions:
      - '0'
      x-ms-request-charge:
      - '5.58'
      x-ms-resource-quota:
      - databases=1000;
      x-ms-resource-usage:
      - databases=0;
      x-ms-schemaversion:
      - '1.8'
      x-ms-serviceversion:
      - version=2.7.0.0
      x-ms-session-token:
      - 0:-1#5
      x-ms-transport-request-id:
      - '49001'
      x-ms-xp-role:
      - '1'
    status:
      code: 200
      message: Ok
version: 1
