interactions:
- request:
    body: '{"name": "iot000003"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2019-03-22-preview
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Invalid","message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-16T17:24:36Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"eventHubEndpoints": {"events": {"retentionTimeInDays":
      1, "partitionCount": 2}}}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2019-03-22-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":2},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":2}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfZjA2OGY1NzYtMDlkNy00NWI3LTgyNjMtZmI1MWY5OGI3N2M3?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4997'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfZjA2OGY1NzYtMDlkNy00NWI3LTgyNjMtZmI1MWY5OGI3N2M3?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2019-03-22-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","resourcegroup":"clitest.rg000001","etag":"AAAAAAjR0yg=","properties":{"locations":[{"location":"West
        US","role":"primary"},{"location":"East US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot000003.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":2,"partitionIds":["0","1"],"path":"iot000003","endpoint":"sb://iothub-ns-iotj7tfw5d-2321407-80ecb5f7ac.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "dps000002"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkProvisioningServiceNameAvailability?api-version=2018-01-22
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Invalid","message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {}, "sku": {"name": "S1", "capacity":
      1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2018-01-22
  response:
    body:
      string: '{"name":"dps000002","location":"westus","properties":{"state":"Activating","provisioningState":"Accepted","allocationPolicy":"Hashed","idScope":null},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfODYwMjA1MzItNDA4Yi00NmJiLWE3NmUtZWZmNjc3MzdmZDAy?api-version=2018-01-22&asyncinfo
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '4999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfODYwMjA1MzItNDA4Yi00NmJiLWE3NmUtZWZmNjc3MzdmZDAy?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2018-01-22
  response:
    body:
      string: '{"etag":"AAAAAAFhIgk=","name":"dps000002","location":"westus","properties":{"state":"Active","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne00087162"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices?api-version=2018-01-22
  response:
    body:
      string: '{"value":[{"etag":"AAAAAAFhIgk=","name":"dps000002","location":"westus","properties":{"state":"Active","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne00087162"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfODY1MTQzYTktZTMwZC00MjE3LWJmMWYtNjk1OGJiZjViMGU1?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/listkeys?api-version=2018-01-22
  response:
    body:
      string: '{"value":[{"keyName":"provisioningserviceowner","primaryKey":"vGI1kenMcZKVHIhCYd6Cgp3cxzzc31Nb7pAsZ7+P8m4=","secondaryKey":"7tB07PCARw4JPRbA5H7qFuxZu0tKc3eoG0lU63+0d2Y=","rights":"ServiceConfig,
        DeviceConnect, EnrollmentWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"iotHubs": [], "allocationPolicy":
      "GeoLatency", "authorizationPolicies": [{"keyName": "provisioningserviceowner",
      "primaryKey": "vGI1kenMcZKVHIhCYd6Cgp3cxzzc31Nb7pAsZ7+P8m4=", "secondaryKey":
      "7tB07PCARw4JPRbA5H7qFuxZu0tKc3eoG0lU63+0d2Y=", "rights": "ServiceConfig, DeviceConnect,
      EnrollmentWrite"}, {"keyName": "policy000004", "rights": "EnrollmentRead"}]},
      "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfOTViM2U0ZjAtMTlmMC00NjQxLWEzOTktY2I5YTNiYzQzNWM4?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/keys/policy000004/listkeys?api-version=2018-01-22
  response:
    body:
      string: '{"keyName":"policy000004","primaryKey":"fSoodFfFyBKDuOXg7w62duv8P1e0NZNLZ/eW1r6ndWk=","secondaryKey":"+4FdQ+ujhw7jTRXayJGgN7BEphayFEkKHrDbu55dW+8=","rights":"EnrollmentRead"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfZDEwZmQyNWEtZWVkMC00YjNhLTllNjAtY2VjNDJiY2ZjOWQ1?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfNzYxMWNhZjItOWE2ZC00ZmFlLWE2OTItZDE0Yzk0MmI1MWQ1?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2018-01-22
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDHTCCAgWgAwIBAgIIdJ5MaL70ePswDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlRrbGNxbmF3M2pwa25qNmlsMB4XDTE5MTAxNTE3Mjk1N1oXDTE5\r\nMTAxOTE3Mjk1N1owIzEhMB8GA1UEAwwYVEVTVENFUlRrbGNxbmF3M2pwa25qNmls\r\nMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQAohC+ZOGDtyljiRRHU/XHG\r\nZj3Byuf95Np7vu1sQ5gGWx//8ioz8PY7rRrgR+yBAJY4weH1INH2GcLfkpyZDMcl\r\nXqJ4HfOREuJrhzxNL+DK1FfMkGIizPwf6cm5xG02auQlRg4Ry0TaedBr+AZ2yDMA\r\nqo42dRajF7X6BzjF0PzV4rNVEqVL9DiINl7qJbWW1Okwt2vVSdEMfYhAJzp[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2018-01-22
  response:
    body:
      string: '{"value":[{"properties":{"subject":"TESTCERT000006","expiry":"Sat,
        19 Oct 2019 17:29:57 GMT","thumbprint":"F1EE78701997EDF1CC79D5F208489B3A69FA7BC7","isVerified":false,"created":"Wed,
        16 Oct 2019 17:29:59 GMT","updated":"Wed, 16 Oct 2019 17:29:59 GMT","certificate":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005","name":"certificate000005","type":"Microsoft.Devices/provisioningServices/Certificates","etag":"AAAAAAFhIxI="}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDHTCCAgWgAwIBAgIIdJ5MaL70ePswDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlRrbGNxbmF3M2pwa25qNmlsMB4XDTE5MTAxNTE3Mjk1N1oXDTE5\r\nMTAxOTE3Mjk1N1owIzEhMB8GA1UEAwwYVEVTVENFUlRrbGNxbmF3M2pwa25qNmls\r\nMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQAohC+ZOGDtyljiRRHU/XHG\r\nZj3Byuf95Np7vu1sQ5gGWx//8ioz8PY7rRrgR+yBAJY4weH1INH2GcLfkpyZDMcl\r\nXqJ4HfOREuJrhzxNL+DK1FfMkGIizPwf6cm5xG02auQlRg4Ry0TaedBr+AZ2yDMA\r\nqo42dRajF7X6BzjF0PzV4rNVEqVL9DiINl7qJbWW1Okwt2vVSdEMfYhAJzpXKcCo\r\nDr196v5MtkjK31ShHqEaoipxk6aI/NPgLlk29S09hMPmAqRmPIisX/G6kRqwThGU\r\nw5mXUxwobJnwQH1wcW/+PZtwx4sj1ObZU12Ex9QaJujDkNEThVnHc2adZvvadE4L\r\nAgMBAAGjVjBUMBIGA1UdEwEB/wQIMAYBAf8CAQEwHQYDVR0OBBYEFNo5o+5ea0sN\r\nMlW/75VgGJCv2AcJMB8GA1UdIwQYMBaAFNo5o+5ea0sNMlW/75VgGJCv2AcJMA0G\r\nCSqGSIb3DQEBCwUAA4IBAQASlsaeCU3Hv60S7Pn46H3MGk3TonQCcy4lEy/K+tH3\r\n+s2DyK1tdLYbTBaX4OR1UWPeTCiHUtoTj92iaRSqmcB1hRAiWgjLThNZNWqDGB7s\r\nzs6pbq8NE9VuCMMhvfz1SPUVYJJHqGl+qR3LPK/uxYpshOsumKD5N+7GHyaIRZH7\r\nsUhgJVMJtsfGSouE8z8CMo8R3XTeSTnpw85RIH62+1CT417wIzgVH5kseqVMVvsV\r\na31gal2Sc74NpT3w4sJhUWMdKe9NBWVvPdPKVABzujWap3yp+9mFSvHXtZA5HxxT\r\no0qWzXiBW6rieBXkv/90jMSTBezh36YIZboy9HkMmZpP\r\n-----END
      CERTIFICATE-----\r\n"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - AAAAAAFhIxI=
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005?api-version=2018-01-22
  response:
    body:
      string: '{"properties":{"subject":"TESTCERT000006","expiry":"Sat, 19 Oct 2019
        17:29:57 GMT","thumbprint":"F1EE78701997EDF1CC79D5F208489B3A69FA7BC7","isVerified":false,"created":"Wed,
        1[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - AAAAAAFhIxY=
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005/generateVerificationCode?api-version=2018-01-22
  response:
    body:
      string: '{"properties":{"verificationCode":"057FFCE2AEC73B9342A472FF680F9819F7AB20B15E94CCF1","subject":"TESTCERT000006","expiry":"Sat,
        19 Oct 2019 17:29:57 GMT","thumbprint":"F1EE78701997EDF1CC79D5F208489B3A69FA7BC7","isVerified":false,"created":"Wed,
        16 Oct 2019 17:29:59 GMT","updated":"Wed, 16 Oct 2019 17:30:07 GMT","certificate":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005","name":"certificate000005","type":"Microsoft.Devices/provisioningServices/Certificates","etag":"AAAAAAFhIxw="}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDAjCCAeqgAwIBAgIIUIvUeEKRNDswDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlRrbGNxbmF3M2pwa25qNmlsMB4XDTE5MTAxNTE3MzAwN1oXDTE5\r\nMTAxOTE3MzAwN1owOzE5MDcGA1UEAwwwMDU3RkZDRTJBRUM3M0I5MzQyQTQ3MkZG\r\nNjgwRjk4MTlGN0FCMjBCMTVFOTRDQ0YxMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4A\r\nMIIBCQKCAQAyOYb66MK0rqDJx/O7qeqcBNUPgJ7RbHT8TtSc7N3zv65LaK8DTwHU\r\nfW0XLgv4PlICOkqwbRtYbQNzJj70T4Tn5OChWVdL6QbmVeFGH14Q5E60oPiRbPRQ\r\ndCtqrZrCS4HZqsFzjiLXPe[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2019-03-22-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"0b[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/listkeys?api-version=2019-03-22-preview
  response:
    body:
      string: '{"value":[{"keyName":"iothubowner","primaryKey":"b5UIWfUWocmeuwg74DUCzI2qf1jUpUjvDnFnIxKmtbo=","secondaryKey":"CNv1dKWa57p0NOigDjzQmnKpjUHpZuC5i9mOtXE+U7c=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"aBzY0YyzswEuwoPL39JhlqASgQK6YHwb/ZbQ027qE/M=","secondaryKey":"zTaQnx2iM1Vhpoe6oRhHaOvEx7Le5tTTqCwhMAZL6Pk=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"4035pJavd9OowfvNjkVq+dQR6+o8F2US1Y/nFvM8ehI=","secondaryKey":"k8UZZ6lwswhEnwMZf/RqZRNI1hiqKPUQZubDBGAOwy8=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"3O3G4/zKgsTQHoOCwNkTPwqZBD28DBxVUnM0SAJGNCA=","secondaryKey":"8fn4ToyrbV024DDAf3SHKyLW7mEXex51XqL7UadrzOY=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"CGjqyD+v/a9J63HuPHYZnsrzNW0q5v/eJd2VT/M3LO8=","secondaryKey":"Bh6KHbGs1nyN0qj2trI8iyff07macDIchL1G2jYqYFs=","rights":"RegistryWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/operationResults/b3NfaWhfMzFjZGVjNjAtZWZhZC00YWM0LTliYTMtZmMxOThmZjBhNmRm?api-version=2019-03-22-preview&operationSource=os_ih&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/IotHubKeys/iothubowner/listkeys?api-version=2019-03-22-preview
  response:
    body:
      string: '{"keyName":"iothubowner","primaryKey":"b5UIWfUWocmeuwg74DUCzI2qf1jUpUjvDnFnIxKmtbo=","secondaryKey":"CNv1dKWa57p0NOigDjzQmnKpjUHpZuC5i9mOtXE+U7c=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfOGZiYmU4YzYtYTIwMC00NDg4LWE3ZjktZTdhMWJiY2JkYzIy?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"iotHubs": [{"applyAllocationPolicy":
      true, "allocationWeight": 10, "connectionString": "HostName=iot000003.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=****",
      "location": "westus"}], "allocationPolicy": "GeoLatency"}, "sku": {"name": "S1",
      "capacity": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfODMyMzdkNDUtNmMzMS00ZjNkLTlkNDUtYmIxY2I4NjFjMDIx?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfZjZjYjdhODMtNzFiNS00NzI4LTkzMmYtZTMyMmEwZjkxNTQy?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfOTc3ZjZiMzktZjFjYS00NDg1LTgwZWItYmRiMzZhNDAzYWMy?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfOTc3ZjZiMzktZjFjYS00NDg1LTgwZWItYmRiMzZhNDAzYWMy?api-version=2018-01-22&asyncinfo
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Devices/ProvisioningServices/dps000002''
        under resource group ''clitest.rg000001'' was not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
