interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cliadm000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliadm000001","name":"cliadm000001","type":"Microsoft.Resources/resourceGroups","location":"centralus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-16T16:43:19Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centralus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliadm000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliadm000001Identity?api-version=2015-08-31-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cliadm000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliadm000001Identity","name":"cliadm000001Identity","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"centralus","tags":{},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"c5c34086-aa9d-4c49-a5c6-c29efe356fc7","clientId":"4dba2dca-d372-444b-8e6a-539348e15ec5","clientSecretUrl":"https://control-centralus.identity.azure.net/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cliadm000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliadm000001Identity/credentials?tid=54826b22-38d6-4fb2-bad9-b7b93a3e9c5a&oid=c5c34086-aa9d-4c49-a5c6-c29efe356fc7&aid=4dba2dca-d372-444b-8e6a-539348e15ec5"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cliadm000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliadm000001Identity
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Contributor%27&api-version=2018-01-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Contributor","type":"BuiltInRole","description":"Lets
        you manage everything except access to resources.","assignableScopes":["/"],"permissions":[{"actions":["*"],"notActions":["Microsoft.Authorization/*/Delete","Microsoft.Authorization/*/Write","Microsoft.Authorization/elevateAccess/Action","Microsoft.Blueprint/blueprintAssignments/write","Microsoft.Blueprint/blueprintAssignments/delete"],"dataActions":[],"notDataActions":[]}],"createdOn":"2015-02-02T21:55:09.8806423Z","updatedOn":"2019-02-05T21:24:38.4580610Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","type":"Microsoft.Authorization/roleDefinitions","name":"b24988ac-6180-42a0-ab88-20f7382dd24c"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-request-charge:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27c5c34086-aa9d-4c49-a5c6-c29efe356fc7%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '1974795'
      ocp-aad-diagnostics-server-name:
      - 9RY9kHjIF0sEXCnKZC1J9QU6hhbta/WWZ84XWn9UNrA=
      ocp-aad-session-key:
      - ibvr5Bnom_BCORrGMVoBBvamIe8Noul6KF_x8FSnq2PDflayNh5XZ0UpCwtg1k9MOv_Dvyku1tUYXSNy13A1BzzznA7NHdb1JyZJhZI5p2pDvD2YbSBOF7tLgqbOyTS4.RoxiXRko3QnE2XMqyoDdgb-l9E51wjfn7VFfI14qTIM
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"objectIds": ["c5c34086-aa9d-4c49-a5c6-c29efe356fc7"], "includeDirectoryObjectReferences":
      true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/getObjectsByObjectIds?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"c5c34086-aa9d-4c49-a5c6-c29efe356fc7","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":["isExplicit=True","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cliadm000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliadm000001Identity"],"appDisplayName":null,"appId":"4dba2dca-d372-444b-8e6a-539348e15ec5","applicationTemplateId":null,"appOwnerTenantId":null,"appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cliadm000001Identity","errorUrl":null,"homepage":null,"informationalUrls":null,"keyCredentials":[{"customKeyIdentifier":"724B23DE77FE9573482E9870E0047289C89B6922","endDate":"2020-01-14T16:38:00Z","keyId":"8e257a00-a284-478c-82e2-3086459a12cb","startDate":"2019-10-16T16:38:00Z","type":"AsymmetricX509Cert","usage":"Verify","value":null}],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":null,"replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["4dba2dca-d372-444b-8e6a-539348e15ec5","https://identity.azure.net/Yb+BJYJEgLKei+/EPhHkrviSTgT/2xyYV9+3WV1U/Ac="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3738179'
      ocp-aad-diagnostics-server-name:
      - WBvu8jP7GvGe2O2F+aZuMDfZG7V2TvhyRVdWPfSUkTU=
      ocp-aad-session-key:
      - KQc-WvwS8Moic73SX4DMNrYT0aaF2S506NnQ9e0t6J-VgHO3nGx1iPsnUmvsMjosxZCpXJnj6oxa2oii8sIHiGvcnaWjYI-MIXmFmC5r3qJ_41vqPg-v4b_6DAfBxdzu.voTOILA1k5H6nM7un2EpDbU6Z27jyAHh3nk3YDwHkA4
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c",
      "principalId": "c5c34086-aa9d-4c49-a5c6-c29efe356fc7"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/5b5731b2-3473-4fab-a925-c6297bfd8a78?api-version=2018-09-01-preview
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"c5c34086-aa9d-4c49-a5c6-c29efe356fc7","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","createdOn":"2019-10-16T16:45:56.4914587Z","updatedOn":"2019-10-16T16:45:56.4914587Z","createdBy":null,"updatedBy":"21cd756e-e290-4a26-9547-93e8cc1a8923"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleAssignments/5b5731b2-3473-4fab-a925-c6297bfd8a78","type":"Microsoft.Authorization/roleAssignments","name":"5b5731b2-3473-4fab-a925-c6297bfd8a78"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
      x-ms-request-charge:
      - '2'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliadm000001/providers/Microsoft.Storage/storageAccounts/cliadm000002/listKeys?api-version=2019-04-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 16:46:30 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://cliadm000002.blob.core.windows.net/artifacts?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D75258660061D4"'
      last-modified:
      - Wed, 16 Oct 2019 16:46:31 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{\r\n    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",\r\n    "contentVersion":
      "1.0.0.0",\r\n    "parameters": {\r\n        "location": {\r\n            "value":
      "centralus"\r\n        },\r\n        "storageAccountName": {\r\n            "value":
      "cliadm000001stgtemplate"\r\n        },\r\n        "accountType": {\r\n            "value":
      "Standard_RAGRS"\r\n        },\r\n        "kind": {\r\n            "value":
      "StorageV2"\r\n        },\r\n        "accessTier": {\r\n            "value":
      "Hot"\r\n        },\r\n        "supportsHttpsTrafficOnly": {\r\n            "value":
      true\r\n        }\r\n    }\r\n}'''
    headers:
      x-ms-blob-content-type:
      - application/json
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 16 Oct 2019 16:46:32 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://cliadm000002.blob.core.windows.net/artifacts/artifactroot/storage.parameters.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 3yS+JFfHQfZr+rDvj1CR/A==
      etag:
      - '"0x8D7525866C67A10"'
      last-modified:
      - Wed, 16 Oct 2019 16:46:33 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: 'b''\xef\xbb\xbf{\r\n    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",\r\n    "contentVersion":
      "1.0.0.0",\r\n    "parameters": {\r\n        "location": {\r\n            "value":
      "centralus"\r\n        },\r\n        "storageAccountName": {\r\n            "value":
      "cliadm000001stgtemplate"\r\n        },\r\n        "accountType": {\r\n            "value":
      "Standard_RAGRS"\r\n        },\r\n        "kind": {\r\n            "value":
      "StorageV2"\r\n        },\r\n        "accessTier": {\r\n            "value":
      "Hot"\r\n        },\r\n        "supportsHttpsTrafficOnly": {\r\n            "value":
      true\r\n        }\r\n    }\r\n}\r\n'''
    headers:
      x-ms-blob-content-type:
      - application/json
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 16 Oct 2019 16:46:33 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://cliadm000002.blob.core.windows.net/artifacts/artifactroot/storage.copy.parameters.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - UEJvtxzJoT9+gg27fiNYag==
      etag:
      - '"0x8D75258678D2D87"'
      last-modified:
      - Wed, 16 Oct 2019 16:46:34 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "{\r\n    \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"location\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"storageAccountName\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"accountType\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"kind\": {\r\n
      \           \"type\": \"string\"\r\n        },\r\n        \"accessTier\": {\r\n
      \           \"type\": \"string\"\r\n        },\r\n        \"supportsHttpsTrafficOnly\":
      {\r\n            \"type\": \"bool\"\r\n        }\r\n    },\r\n    \"variables\":
      {},\r\n    \"resources\": [\r\n        {\r\n            \"name\": \"[parameters('storageAccountName')]\",\r\n
      \           \"type\": \"Microsoft.Storage/storageAccounts\",\r\n            \"apiVersion\":
      \"2018-07-01\",\r\n            \"location\": \"[parameters('location')]\",\r\n
      \           \"properties\": {\r\n                \"accessTier\": \"[parameters('accessTier')]\",\r\n
      \               \"supportsHttpsTrafficOnly\": \"[parameters('supportsHttpsTrafficOnly')]\"\r\n
      \           },\r\n            \"dependsOn\": [],\r\n            \"sku\": {\r\n
      \               \"name\": \"[parameters('accountType')]\"\r\n            },\r\n
      \           \"kind\": \"[parameters('kind')]\"\r\n        }\r\n    ],\r\n    \"outputs\":
      {}\r\n}"
    headers:
      x-ms-blob-content-type:
      - application/json
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 16 Oct 2019 16:46:34 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://cliadm000002.blob.core.windows.net/artifacts/artifactroot/storage.template.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - /SSTMoFKkG8ZQg+1oXFMBQ==
      etag:
      - '"0x8D75258684E616F"'
      last-modified:
      - Wed, 16 Oct 2019 16:46:35 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "{\r\n    \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"location\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"storageAccountName\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"accountType\":
      {\r\n            \"type\": \"string\"\r\n        },\r\n        \"kind\": {\r\n
      \    [...]
- request:
    body: "{\r\n    \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#\",\r\n
      \   \"contentVersion\": \"1.0.0.0\",\r\n    \"parameters\": {\r\n        \"location\":
      {\r\n            \"value\": \"centralus\"\r\n        },\r\n        \"storageAccountName\":
      {\r\n            \"value\": \"(Invalid_Storage.Account/Name)\"\r\n        },\r\n
      \       \"accountType\": {\r\n            \"value\": \"Standard_RAGRS\"\r\n
      \       },\r\n        \"kind\": {\r\n            \"value\": \"StorageV2\"\r\n
      \       },\r\n        \"accessTier\": {\r\n            \"value\": \"Hot\"\r\n
      \       },\r\n        \"supportsHttpsTrafficOnly\": {\r\n            \"value\":
      true\r\n        }\r\n    }\r\n}"
    headers:
      x-ms-blob-content-type:
      - application/json
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 16 Oct 2019 16:46:38 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://cliadm000002.blob.core.windows.net/artifacts/artifactroot/storage_invalid.parameters.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - 9bTPRFFO473q3qv5fvgUOA==
      etag:
      - '"0x8D752586A4BE2CC"'
      last-modified:
      - Wed, 16 Oct 2019 16:46:39 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2019-04-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zuh/providers/Microsoft.Storage/storageAccounts/afdavd","name":"afdavd","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{"tag1":"zuh"},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2019-08-28T06:33:43.0429887Z"},"blob":{"enabled":true,"lastEnabledTime":"2019-08-28T06:33:43.0429887Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2019-08-28T06:33:42.9961348Z","primaryEndpoints":{"dfs":"https://afdavd.dfs.core.windows.net/","web":"https://afdavd.z13.web.core.windows.net/","blob":"https://afdavd.blob.core.windows.net/","queue":"https://afdavd.queue.core.windows.net/","table":"https://afdavd.table.core.windows.net/","file":"https://afdavd.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://afdavd-secondary.dfs.core.windows.net/","web":"https://afdavd-secondary.z13.web.core.windows.net/","blob":"https://afdavd-secondary.blob.core.windows.net/","queue":"https://afdavd-secondary.queue.core.windows.net/","table":"https://afdavd-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zuh/providers/Microsoft.Storage/storageAccounts/ttttttt","name":[...]
[...]
- request:
    body: 'b''{"location": "centralus", "properties": {"sourceType": "AzureStorage",
      "artifactRoot": "artifactroot", "authentication": {"type": "Sas", "properties":
      {"sasUri": "https://cliadm000002.blob.core.windows.net/artifacts?st=2019-10-16T15%3A46Z&se=2019-10-17T02%3A46Z&sp=rl&sv=2018-11-09&sr=c&sig=qFG6S6TDZ4bPMiBkCU9FEcD4yjqFCqQxYwk/bEr6GA4%3D"}}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliadm000001/providers/Microsoft.DeploymentManager/artifactSources/cliadm000001ArtifactSource?api-version=2018-09-01-preview
  response:
    body:
      string: '{"properties":{"sourceType":"AzureStorage","artifactRoot":"artifactroot","authentication":{"type":"Sas","properties":{"sasUri":"https://cliadm000002.blob.core.windows.net/artifacts?st=2019-10-16T15%3A46Z&se=2019-10-17T02%3A46Z&sp=rl&sv=2018-11-09&sr=c&sig=qFG6S6TDZ4bPMiBkCU9FEcD4yjqFCqQxYwk/bEr6GA4%3D"}},"provisioningState":"Succeeded"},"type":"Microsoft.DeploymentManager/artifactSources","apiVersion":"2018-09-01-preview","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cliadm000001/providers/Microsoft.DeploymentManager/artifactSources/cliadm000001ArtifactSource","name":"cliadm000001ArtifactSource","location":"centralus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliadm000001/providers/Microsoft.DeploymentManager/artifactSources/cliadm000001ArtifactSource?api-version=2018-09-01-preview
  response:
    body:
      string: '{"properties":{"sourceType":"AzureStorage","artifactRoot":"artifactroot","authentication":{"type":"Sas","properties":{"sasUri":"https://cliadm000002.blob.core.windows.net/artifacts?st=2019-10-16T15%3A46Z&se=2019-10-17T02%3A46Z&sp=rl&sv=2018-11-09&sr=c&sig=qFG6S6TDZ4bPMiBkCU9FEcD4yjqFCqQxYwk/bEr6GA4%3D"}},"provisioningState":"Succeeded"},"type":"Microsoft.DeploymentManager/artifactSources","apiVersion":"2018-09-01-preview","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cliadm000001/providers/Microsoft.DeploymentManager/artifactSources/cliadm000001ArtifactSource","name":"cliadm000001ArtifactSource","location":"centralus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"location": "centralus", "properties": {"artifactSourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cliadm000001/providers/Microsoft.DeploymentManager/artifactSources/cliadm000001ArtifactSource"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliadm000001/providers/Microsoft.DeploymentManager/serviceTopologies/cliadm000001ServiceTopology?api-version=2018-09-01-preview
  response:
    body:
      string: '{"properties":{"artifactSourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cliadm000001/providers/Microsoft.DeploymentManager/artifactSources/cliadm000001ArtifactSource","provisioningState":"Succeeded"},"type":"Microsoft.DeploymentManager/servicetopologies","apiVersion":"2018-09-01-preview","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cliadm000001/providers/Microsoft.DeploymentManager/serviceTopologies/cliadm000001ServiceTopology","name":"cliadm000001ServiceTopology","location":"centralus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "centralus", "properties": {"targetLocation": "centralus",
      "targetSubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliadm000001/providers/Microsoft.DeploymentManager/serviceTopologies/cliadm000001ServiceTopology/services/cliadm000001Service?api-version=2018-09-01-preview
  response:
    body:
      string: '{"properties":{"targetSubscriptionId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","targetLocation":"centralus","provisioningState":"Succeeded"},"type":"Microsoft.DeploymentManager/serviceTopologies/services","apiVersion":"2018-09-01-preview","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cliadm000001/providers/Microsoft.DeploymentManager/serviceTopologies/cliadm000001ServiceTopology/services/cliadm000001Service","name":"cliadm000001Service","location":"centralus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"location": "centralus", "properties": {"targetResourceGroup": "cliadm000001",
      "deploymentMode": "Incremental", "artifacts": {"templateArtifactSourceRelativePath":
      "storage.template.json", "parametersArtifactSourceRelativePath": "storage.parameters.json"}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cliadm000001/providers/Microsoft.DeploymentManager/serviceTopologies/cliadm000001ServiceTopology/services/cliadm000001Service/serviceUnits/cliadm000001ServiceUnit?api-version=2018-09-01-preview
  response:
    body:
      string: '{"properties":{"targetResourceGroup":"cliadm000001","deploymentMode":"Incremental","artifacts":{"templateArtifactSourceRelativePath":"storage.template.json","parametersArtifactSourceRelativePath":"storage.parameters.json"},"provisioningState":"Running"},"type":"Microsoft.DeploymentManager/serviceTopologies/services/serviceUnits","apiVersion":"2018-09-01-preview","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cliadm000001/providers/Microsoft.DeploymentManager/serviceTopologies/cliadm000001ServiceTopology/services/cliadm000001Service/serviceUnits/cliadm000001ServiceUnit","name":"cliadm000001ServiceUnit","location":"centralus"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cliadm000001/providers/Microsoft.DeploymentManager/operationResults/b567e81c-a373-4335-b7d6-752d1dddf26b?api-version=2018-09-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cliadm000001/providers/Microsoft.DeploymentManager/operationResults/b567e81c-a373-4335-b7d6-752d1dddf26b?api-version=2018-09-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cliadm000001/providers/Microsoft.DeploymentManager/operationResults/b567e81c-a373-4335-b7d6-752d1dddf26b?api-version=2018-09-01-preview
  response:
    body:
      string: '""'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Unknown Operation 'b567e81c-a373-4335-b7d6-752d1dddf26b'.
version: 1
