interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/84codes.CloudAMQP?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/84codes.CloudAMQP","namespace":"84codes.CloudAMQP","resourceTypes":[{"resourceType":"servers","locations":["East
        US 2","Central US","East US","North Central US","South Central US","West US","North
        Europe","West Europe","East Asia","Southeast Asia","Japan East","Japan West","Australia
        East","Australia Southeast"],"apiVersions":["2016-08-01"],"capabilities":"SupportsTags,
        SupportsLocation"},{"resourceType":"operations","locations":[],"apiVersions":["2016-08-01"],"capabilities":"None"},{"resourceType":"listCommunicationPreference","locations":[],"apiVersions":["2016-08-01"],"capabilities":"None"},{"resourceType":"updateCommunicationPreference","locations":[],"apiVersions":["2016-08-01"],"capabilities":"None"}],"registrationState":"Registered","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/84codes.CloudAMQP/unregister?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/84codes.CloudAMQP","namespace":"84codes.CloudAMQP","resourceTypes":[{"resourceType":"servers","locations":["East
        US 2","Central US","East US","North Central US","South Central US","West US","North
        Europe","West Europe","East Asia","Southeast Asia","Japan East","Japan West","Australia
        East","Australia Southeast"],"apiVersions":["2016-08-01"],"capabilities":"SupportsTags,
        SupportsLocation"},{"resourceType":"operations","locations":[],"apiVersions":["2016-08-01"],"capabilities":"None"},{"resourceType":"listCommunicationPreference","locations":[],"apiVersions":["2016-08-01"],"capabilities":"None"},{"resourceType":"updateCommunicationPreference","locations":[],"apiVersions":["2016-08-01"],"capabilities":"None"}],"registrationState":"Unregistering","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/84codes.CloudAMQP/register?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/84codes.CloudAMQP","namespace":"84codes.CloudAMQP","resourceTypes":[{"resourceType":"servers","locations":["East
        US 2","Central US","East US","North Central US","South Central US","West US","North
        Europe","West Europe","East Asia","Southeast Asia","Japan East","Japan West","Australia
        East","Australia Southeast"],"apiVersions":["2016-08-01"],"capabilities":"SupportsTags,
        SupportsLocation"},{"resourceType":"operations","locations":[],"apiVersions":["2016-08-01"],"capabilities":"None"},{"resourceType":"listCommunicationPreference","locations":[],"apiVersions":["2016-08-01"],"capabilities":"None"},{"resourceType":"updateCommunicationPreference","locations":[],"apiVersions":["2016-08-01"],"capabilities":"None"}],"registrationState":"Registering","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/84codes.CloudAMQP?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/84codes.CloudAMQP","namespace":"84codes.CloudAMQP","resourceTypes":[{"resourceType":"servers","locations":["East
        US 2","Central US","East US","North Central US","South Central US","West US","North
        Europe","West Europe","East Asia","Southeast Asia","Japan East","Japan West","Australia
        East","Australia Southeast"],"apiVersions":["2016-08-01"],"capabilities":"SupportsTags,
        SupportsLocation"},{"resourceType":"operations","locations":[],"apiVersions":["2016-08-01"],"capabilities":"None"},{"resourceType":"listCommunicationPreference","locations":[],"apiVersions":["2016-08-01"],"capabilities":"None"},{"resourceType":"updateCommunicationPreference","locations":[],"apiVersions":["2016-08-01"],"capabilities":"None"}],"registrationState":"Registering","registrationPolicy":"RegistrationRequired"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
