interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_dedicated_host_000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001","name":"cli_test_dedicated_host_000001","type":"Microsoft.Resources/resourceGroups","location":"westeurope","tags":{"product":"azurecli","cause":"automation","date":"2019-10-16T20:53:21Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westeurope", "tags": {"foo": "bar"}, "properties": {"platformFaultDomainCount":
      3}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group?api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host-group\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/CLI_TEST_DEDICATED_HOST_RPJ3Z2UWA4VVRYCMG63EPJ6ZOXOIQBGG3Z64JJBNYMW3LH7P7Q3/providers/Microsoft.Compute/hostGroups/my-host-group\",\r\n
        \ \"location\": \"westeurope\",\r\n  \"tags\": {\r\n    \"foo\": \"bar\"\r\n
        \ },\r\n  \"properties\": {\r\n    \"platformFaultDomainCount\": 3\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;117,Microsoft.Compute/PutDeleteDedicatedHost30Min;595
      x-ms-ratelimit-remaining-subscription-writes:
      - '1189'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westeurope", "tags": {"bar": "baz"}, "properties": {"platformFaultDomain":
      2, "autoReplaceOnFailure": false}, "sku": {"name": "DSv3-Type1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host?api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host\",\r\n
        \ \"location\": \"westeurope\",\r\n  \"tags\": {\r\n    \"bar\": \"baz\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"DSv3-Type1\"\r\n  },\r\n  \"properties\":
        {\r\n    \"platformFaultDomain\": 2,\r\n    \"autoReplaceOnFailure\": false,\r\n
        \   \"hostId\": \"4e73a0d7-1b8a-4675-9a1d-181f522f3f19\",\r\n    \"provisioningState\":
        \"Creating\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westeurope/operations/5f7e9496-4a9b-47fe-9d26-de3d5746a0e3?api-version=2019-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/PutDeleteDedicatedHost3Min;116,Microsoft.Compute/PutDeleteDedicatedHost30Min;594
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westeurope/operations/5f7e9496-4a9b-47fe-9d26-de3d5746a0e3?api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2019-10-16T20:53:38.7385736+00:00\",\r\n  \"endTime\":
        \"2019-10-16T20:53:38.9573201+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"name\": \"5f7e9496-4a9b-47fe-9d26-de3d5746a0e3\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14997,Microsoft.Compute/GetOperation30Min;29989
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host?api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host\",\r\n
        \ \"location\": \"westeurope\",\r\n  \"tags\": {\r\n    \"bar\": \"baz\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"DSv3-Type1\"\r\n  },\r\n  \"properties\":
        {\r\n    \"platformFaultDomain\": 2,\r\n    \"autoReplaceOnFailure\": false,\r\n
        \   \"hostId\": \"4e73a0d7-1b8a-4675-9a1d-181f522f3f19\",\r\n    \"virtualMachines\":
        [],\r\n    \"provisioningTime\": \"2019-10-16T20:53:38.9417029+00:00\",\r\n
        \   \"provisioningState\": \"Succeeded\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost3Min;198,Microsoft.Compute/GetDedicatedHost30Min;992
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host?$expand=instanceView&api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"my-host\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_dedicated_host_000001/providers/Microsoft.Compute/hostGroups/my-host-group/hosts/my-host\",\r\n
        \ \"location\": \"westeurope\",\r\n  \"tags\": {\r\n    \"bar\": \"baz\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"DSv3-Type1\"\r\n  },\r\n  \"properties\":
        {\r\n    \"platformFaultDomain\": 2,\r\n    \"autoReplaceOnFailure\": false,\r\n
        \   \"hostId\": \"4e73a0d7-1b8a-4675-9a1d-181f522f3f19\",\r\n    \"virtualMachines\":
        [],\r\n    \"provisioningTime\": \"2019-10-16T20:53:38.9417029+00:00\",\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"assetId\":
        \"9929d16e-375e-49b3-b8f3-cdfc490db804\",\r\n      \"availableCapacity\":
        {\r\n        \"allocatableVMs\": [\r\n          {\r\n            \"vmSize\":
        \"Standard_D2s_v3\",\r\n            \"count\": 32\r\n          },\r\n          {\r\n
        \           \"vmSize\": \"Standard_D4s_v3\",\r\n            \"count\": 16\r\n
        \         },\r\n          {\r\n            \"vmSize\": \"Standard_D8s_v3\",\r\n
        \           \"count\": 8\r\n          },\r\n          {\r\n            \"vmSize\":
        \"Standard_D16s_v3\",\r\n            \"count\": 4\r\n          },\r\n          {\r\n
        \           \"vmSize\": \"Standard_D32-8s_v3\",\r\n            \"count\":
        2\r\n          },\r\n          {\r\n            \"vmSize\": \"Standard_D32-16s_v3\",\r\n
        \           \"count\": 2\r\n          },\r\n          {\r\n            \"vmSize\":
        \"Standard_D32s_v3\",\r\n            \"count\": 2\r\n          },\r\n          {\r\n
        \           \"vmSize\": \"Standard_D48s_v3\",\r\n            \"count\": 1\r\n
        \         },\r\n          {\r\n            \"vmSize\": \"Standard_D64-16s_v3\",\r\n
        \           \"count\": 1\r\n          },\r\n          {\r\n            \"vmSize\":
        \"Standard_D64-32s_v3\",\r\n            \"count\": 1\r\n          },\r\n          {\r\n
        \           \"vmSize\": \"Standard_D64s_v3\",\r\n            \"count\": 1\r\n
        \         }\r\n        ]\r\n      },\r\n      \"statuses\": [\r\n        {\r\n
        \         \"code\": \"ProvisioningState/succeeded\",\r\n          \"level\":
        \"Info\",\r\n          \"displayStatus\": \"Provisioning succeeded\",\r\n
        \         \"time\": \"2019-10-16T20:53:38.9417029+00:00\"\r\n        },\r\n
        \       {\r\n          \"code\": \"HealthState/available\",\r\n          \"level\":
        \"Info\",\r\n          \"displayStatus\": \"Host available\"\r\n        }\r\n
        \     ]\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetDedicatedHost3Min;197,Microsoft.Compute/GetDedicatedHost30Min;991
    status:
      code: 200
      message: OK
version: 1
