interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_custom_image000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001","name":"cli_test_vm_custom_image000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-16T18:58:35Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\n
        \ \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\":
        {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"type\":
        \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"CentOS\":
        {\n            \"publisher\": \"OpenLogic\",\n            \"offer\": \"CentOS\",\n
        \           \"sku\": \"7.5\",\n            \"version\": \"latest\"\n          },\n
        \         \"CoreOS\": {\n            \"publisher\": \"CoreOS\",\n            \"offer\":
        \"CoreOS\",\n            \"sku\": \"Stable\",\n            \"version\": \"latest\"\n
        \         },\n          \"Debian\": {\n            \"publisher\": \"Debian\",\n
        \           \"offer\": \"debian-10\",\n            \"sku\": \"10\",\n            \"version\":
        \"latest\"\n          },\n          \"openSUSE-Leap\": {\n            \"publisher\":
        \"SUSE\",\n            \"offer\": \"openSUSE-Leap\",\n            \"sku\":
        \"42.3\",\n            \"version\": \"latest\"\n          },\n          \"RHEL\":
        {\n            \"publisher\": \"RedHat\",\n            \"offer\": \"RHEL\",\n
        \           \"sku\": \"7-LVM\",\n            \"version\": \"latest\"\n          },\n
        \         \"SLES\": {\n            \"publisher\": \"SUSE\",\n            \"offer\":
        \"SLES\",\n            \"sku\": \"15\",\n            \"version\": \"latest\"\n
        \         },\n          \"UbuntuLTS\": {\n            \"publisher\": \"Canonical\",\n
        \           \"offer\": \"UbuntuServer\",\n            \"sku\": \"18.04-LTS\",\n
        \           \"version\": \"latest\"\n          }\n        },\n        \"Windows\":
        {\n          \"Win2019Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\",\n
        \           \"offer\": \"WindowsServer\",\n            \"sku\": \"2019-Datacenter\",\n
        \           \"version\": \"latest\"\n          },\n          \"Win2016Datacenter\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2016-Datacenter\",\n            \"version\":
        \"latest\"\n          },\n          \"Win2012R2Datacenter\": {\n            \"publisher\":
        \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n            \"sku\":
        \"2012-R2-Datacenter\",\n            \"version\": \"latest\"\n          },\n
        \         \"Win2012Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\",\n
        \           \"offer\": \"WindowsServer\",\n            \"sku\": \"2012-Datacenter\",\n
        \           \"version\": \"latest\"\n          },\n          \"Win2008R2SP1\":
        {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"offer\":
        \"WindowsServer\",\n            \"sku\": \"2008-R2-SP1\",\n            \"version\":
        \"latest\"\n          }\n        }\n      }\n    }\n  }\n}\n"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"5d5b1214d514a7d1af3a6606ac1a74d9cadc7bb5"
      source-age:
      - '270'
      x-fastly-request-id:
      - 618782e6e59506c1cc8bd33f14f505e3a6bb9f23
      x-geo-block-list:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Storage/storageAccounts?api-version=2019-04-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"type": "Microsoft.Storage/storageAccounts", "name": "vhdstorage39c951eb928f8f",
      "apiVersion": "2015-06-15", "location": "westus", "tags": {}, "dependsOn": [],
      "properties": {"accountType": "Premium_LRS"}}, {"name": "vm-unmanaged-diskVNET",
      "type": "Microsoft.Network/virtualNetworks", "location": "westus", "apiVersion":
      "2015-06-15", "dependsOn": [], "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "subnets": [{"name": "vm-unmanaged-diskSubnet", "properties":
      {"addressPrefix": "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/networkSecurityGroups",
      "name": "vm-unmanaged-diskNSG", "apiVersion": "2015-06-15", "location": "westus",
      "tags": {}, "dependsOn": [], "properties": {"securityRules": [{"name": "default-allow-ssh",
      "properties": {"protocol": "Tcp", "sourcePortRange": "*", "destinationPortRange":
      "22", "sourceAddressPrefix": "*", "destinationAddressPrefix": "*", "access":
      "Allow", "priority": 1000, "direction": "Inbound"}}]}}, {"apiVersion": "2018-01-01",
      "type": "Microsoft.Network/publicIPAddresses", "name": "vm-unmanaged-diskPublicIP",
      "location": "westus", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      null}}, {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "vm-unmanaged-diskVMNic", "location": "westus", "tags": {}, "dependsOn":
      ["Microsoft.Network/virtualNetworks/vm-unmanaged-diskVNET", "Microsoft.Network/networkSecurityGroups/vm-unmanaged-diskNSG",
      "Microsoft.Network/publicIpAddresses/vm-unmanaged-diskPublicIP"], "properties":
      {"ipConfigurations": [{"name": "ipconfigvm-unmanaged-disk", "properties": {"privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Network/virtualNetworks/vm-unmanaged-diskVNET/subnets/vm-unmanaged-diskSubnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Network/publicIPAddresses/vm-unmanaged-diskPublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Network/networkSecurityGroups/vm-unmanaged-diskNSG"}}},
      {"apiVersion": "2019-03-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm-unmanaged-disk", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Storage/storageAccounts/vhdstorage39c951eb928f8f",
      "Microsoft.Network/networkInterfaces/vm-unmanaged-diskVMNic"], "properties":
      {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile": {"networkInterfaces":
      [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Network/networkInterfaces/vm-unmanaged-diskVMNic"}]},
      "storageProfile": {"osDisk": {"createOption": "fromImage", "name": "osdisk_39c951eb92",
      "caching": "ReadWrite", "vhd": {"uri": "https://vhdstorage39c951eb928f8f.blob.core.windows.net/vhds/osdisk_39c951eb92.vhd"}},
      "imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "18.04-LTS", "version": "latest"}}, "osProfile": {"computerName": "vm-unmanaged-disk",
      "adminUsername": "sdk-test-admin", "adminPassword": "[parameters(\''adminPassword\'')]"}}}],
      "outputs": {}}, "parameters": {"adminPassword": {"value": "testPassword0"}},
      "mode": "Incremental"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_custom_image000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Resources/deployments/vm_deploy_WZeJZ3oq8Itj0c6Cy9zCud3wigVaxrxm","name":"vm_deploy_WZeJZ3oq8Itj0c6Cy9zCud3wigVaxrxm","type":"Microsoft.Resources/deployments","properties":{"templateHash":"7924559396353392706","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-10-16T18:58:46.2401791Z","duration":"PT3.0021248S","correlationId":"c7fa044f-7444-47f3-a423-d599cada27ef","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]},{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Network/virtualNetworks/vm-unmanaged-diskVNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm-unmanaged-diskVNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Network/networkSecurityGroups/vm-unmanaged-diskNSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm-unmanaged-diskNSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Network/publicIPAddresses/vm-unmanaged-diskPublicIP","resourceType":"Microsof[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_custom_image000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586303545622395760?api-version=2019-07-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_custom_image000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Resources/deployments/vm_deploy_WZeJZ3oq8Itj0c6Cy9zCud3wigVaxrxm","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Compute/virtualMachines/vm-unmanaged-disk?$expand=instanceView&api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-unmanaged-disk\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Compute/virtualMachines/vm-unmanaged-disk\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"vmId\": \"e18da186-efdd-4587-af44-80f91799a18a\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\":
        \"18.04-LTS\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\":
        {\r\n        \"osType\": \"Linux\",\r\n        \"name\": \"osdisk_39c951eb92\",\r\n
        \       \"createOption\": \"FromImage\",\r\n        \"vhd\": {\r\n          \"uri\":
        \"https://vhdstorage39c951eb928f8f.blob.core.windows.net/vhds/osdisk_39c951eb92.vhd\"\r\n
        \       },\r\n        \"caching\": \"ReadWrite\",\r\n        \"diskSizeGB\":
        30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\":
        {\r\n      \"computerName\": \"vm-unmanaged-disk\",\r\n      \"adminUsername\":
        \"sdk-test-admin\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\":
        false,\r\n        \"provisionVMAgent\": true\r\n      },\r\n      \"secrets\":
        [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\":
        true\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Network/networkInterfaces/vm-unmanaged-diskVMNic\"}]},\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"computerName\":
        \"vm-unmanaged-disk\",\r\n      \"osName\": \"ubuntu\",\r\n      \"osVersion\":
        \"18.04\",\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"2.2.42\",\r\n
        \       \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\",\r\n
        \           \"level\": \"Info\",\r\n            \"displayStatus\": \"Ready\",\r\n
        \           \"message\": \"Guest Agent is running\",\r\n            \"time\":
        \"2019-10-16T19:00:51+00:00\"\r\n          }\r\n        ],\r\n        \"extensionHandlers\":
        []\r\n      },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"osdisk_39c951eb92\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2019-10-16T18:59:45.1305424+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2019-10-16T19:00:35.9432384+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3971,Microsoft.Compute/LowCostGet30Min;31872
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Network/networkInterfaces/vm-unmanaged-diskVMNic?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-unmanaged-diskVMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Network/networkInterfaces/vm-unmanaged-diskVMNic\",\r\n
        \ \"etag\": \"W/\\\"11f83257-e578-4ed6-9e49-8b073d4d7221\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"5a0bebfb-baa1-43dc-a933-e764ceaa185d\",\r\n
        \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigvm-unmanaged-disk\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Network/networkInterfaces/vm-unmanaged-diskVMNic/ipConfigurations/ipconfigvm-unmanaged-disk\",\r\n
        \       \"etag\": \"W/\\\"11f83257-e578-4ed6-9e49-8b073d4d7221\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Network/publicIPAddresses/vm-unmanaged-diskPublicIP\"\r\n
        \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Network/virtualNetworks/vm-unmanaged-diskVNET/subnets/vm-unmanaged-diskSubnet\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
        [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
        \"2pdxq4xlhi1ebkjr45rf213zxe.dx.internal.cloudapp.net\"\r\n    },\r\n    \"macAddress\":
        \"00-0D-3A-32-8F-9E\",\r\n    \"enableAcceleratedNetworking\": false,\r\n
        \   \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\": {\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Network/networkSecurityGroups/vm-unmanaged-diskNSG\"\r\n
        \   },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Compute/virtualMachines/vm-unmanaged-disk\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"11f83257-e578-4ed6-9e49-8b073d4d7221"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Network/publicIPAddresses/vm-unmanaged-diskPublicIP?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-unmanaged-diskPublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Network/publicIPAddresses/vm-unmanaged-diskPublicIP\",\r\n
        \ \"etag\": \"W/\\\"ea6d4489-c2aa-42f9-82fc-2c9777165bae\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"e6006c74-8353-47db-96fb-58c1ce74a634\",\r\n
        \   \"ipAddress\": \"13.88.15.90\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n
        \   \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Network/networkInterfaces/vm-unmanaged-diskVMNic/ipConfigurations/ipconfigvm-unmanaged-disk\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ea6d4489-c2aa-42f9-82fc-2c9777165bae"
    status:
      code: 200
      message: OK
- request:
    body: '{"commandId": "RunShellScript", "script": ["echo ''sudo waagent -deprovision+user
      --force'' | at -M now + 1 minutes"], "parameters": []}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Compute/virtualMachines/vm-unmanaged-disk/runCommand?api-version=2019-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/cc3cd950-d542-44f3-8e53-d2c9e01dc317?api-version=2019-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/cc3cd950-d542-44f3-8e53-d2c9e01dc317?monitor=true&api-version=2019-03-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/UpdateVM3Min;238,Microsoft.Compute/UpdateVM30Min;1193
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/cc3cd950-d542-44f3-8e53-d2c9e01dc317?api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2019-10-16T19:00:54.8963931+00:00\",\r\n  \"status\":
        \"InProgress\",\r\n  \"name\": \"cc3cd950-d542-44f3-8e53-d2c9e01dc317\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14985,Microsoft.Compute/GetOperation30Min;29932
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/cc3cd950-d542-44f3-8e53-d2c9e01dc317?api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2019-10-16T19:00:54.8963931+00:00\",\r\n  \"endTime\":
        \"2019-10-16T19:01:27.3496519+00:00\",\r\n  \"status\": \"Succeeded\",\r\n
        \ \"properties\": {\r\n    \"output\": {\"value\":[{\"code\":\"ProvisioningState/succeeded\",\"level\":\"Info\",\"displayStatus\":\"Provisioning
        succeeded\",\"message\":\"Enable succeeded: \\n[stdout]\\n\\n[stderr]\\nwarning:
        commands will be executed using /bin/sh\\njob 1 at Wed Oct 16 19:02:00 2019\\n\"}]}\r\n
        \ },\r\n  \"name\": \"cc3cd950-d542-44f3-8e53-d2c9e01dc317\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14984,Microsoft.Compute/GetOperation30Min;29929
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/cc3cd950-d542-44f3-8e53-d2c9e01dc317?monitor=true&api-version=2019-03-01
  response:
    body:
      string: '{"value":[{"code":"ProvisioningState/succeeded","level":"Info","displayStatus":"Provisioning
        succeeded","message":"Enable succeeded: \n[stdout]\n\n[stderr]\nwarning: commands
        will be executed using /bin/sh\njob 1 at Wed Oct 16 19:02:00 2019\n"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14983,Microsoft.Compute/GetOperation30Min;29928
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Compute/virtualMachines/vm-unmanaged-disk/deallocate?api-version=2019-03-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/9aa24495-0da8-46bb-a7c4-74f9442567ec?api-version=2019-03-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/9aa24495-0da8-46bb-a7c4-74f9442567ec?monitor=true&api-version=2019-03-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/DeleteVM3Min;239,Microsoft.Compute/DeleteVM30Min;1194
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Compute/virtualMachines/vm-unmanaged-disk/generalize?api-version=2019-03-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/UpdateVM3Min;239,Microsoft.Compute/UpdateVM30Min;1189
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Compute/virtualMachines/vm-unmanaged-disk?api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm-unmanaged-disk\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Compute/virtual[...]
[...]
- request:
    body: 'b''{"location": "westus", "tags": {}, "properties": {"sourceVirtualMachine":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Compute/virtualMachines/vm-unmanaged-disk"},
      "hyperVGeneration": "V1"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Compute/images/img-from-unmanaged?api-version=2019-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"img-from-unmanaged\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Compute/images/img-from-unmanaged\",\r\n
        \ \"type\": \"Microsoft.Compute/images\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"sourceVirtualMachine\": {\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_custom_image000001/providers/Microsoft.Compute/virtualMachines/vm-unmanaged-disk\"\r\n
        \   },\r\n    \"storageProfile\": {\r\n      \"osDisk\": {\r\n        \"osType\":
        \"Linux\",\r\n        \"osState\": \"Generalized\",\r\n        \"diskSizeGB\":
        30,\r\n        \"blobUri\": \"https://vhdstorage39c951eb928f8f.blob.core.windows.net/vhds/osdisk_39c951eb92.vhd\",\r\n
        \       \"caching\": \"ReadWrite\",\r\n        \"storageAccountType\": \"Standard_LRS\"\r\n
        \     },\r\n      \"dataDisks\": []\r\n    },\r\n    \"provisioningState\":
        \"Creating\",\r\n    \"hyperVGeneration\": \"V1\"\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/af45471a-aeb4-4457-bd04-3768d0b5b72f?api-version=2019-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateImages3Min;39,Microsoft.Compute/CreateImages30Min;195
      x-ms-ratelimit-remaining-subscription-writes:
      - '1174'
    status:
      code: 201
      message: Created
[...]
- request:
[...]
