interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_network_route_filter000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_route_filter000001","name":"cli_test_network_route_filter000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-16T17:38:23Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "tags": {"foo": "doo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_route_filter000001/providers/Microsoft.Network/routeFilters/filter1?api-version=2019-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"filter1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_route_filter000001/providers/Microsoft.Network/routeFilters/filter1\",\r\n
        \ \"etag\": \"W/\\\"d65c86b2-c0dc-429b-997f-3fe1e70cd2c7\\\"\",\r\n  \"type\":
        \"Microsoft.Network/routeFilters\",\r\n  \"location\": \"westus\",\r\n  \"tags\":
        {\r\n    \"foo\": \"doo\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"rules\": []\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/bcf77cde-4f46-4644-99de-e8dc39c3d41e?api-version=2019-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1174'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/bcf77cde-4f46-4644-99de-e8dc39c3d41e?api-version=2019-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_route_filter000001/providers/Microsoft.Network/routeFilters?api-version=2019-08-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"filter1\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_route_filter000001/providers/Microsoft.Network/routeFilters/filter1\",\r\n
        \     \"etag\": \"W/\\\"3295f045-0305-44a5-8eb0-d36f320fb35e\\\"\",\r\n      \"type\":
        \"Microsoft.Network/routeFilters\",\r\n      \"location\": \"westus\",\r\n
        \     \"tags\": {\r\n        \"foo\": \"doo\"\r\n      },\r\n      \"properties\":
        {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"rules\": []\r\n
        \     }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"access": "Allow", "routeFilterRuleType": "Community",
      "communities": ["12076:5040", "12076:5030"]}, "location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_route_filter000001/providers/Microsoft.Network/routeFilters/filter1/routeFilterRules/rule1?api-version=2019-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"rule1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_route_filter000001/providers/Microsoft.Network/routeFilters/filter1/routeFilterRules/rule1\",\r\n
        \ \"etag\": \"W/\\\"f5c49094-665a-4dae-ab0e-425fca40e116\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"access\": \"Allow\",\r\n
        \   \"routeFilterRuleType\": \"Community\",\r\n    \"communities\": [\r\n
        \     \"12076:5040\",\r\n      \"12076:5030\"\r\n    ]\r\n  },\r\n  \"type\":
        \"Microsoft.Network/routeFilters/routeFilterRules\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/afcbf5eb-83d4-45ce-a398-54b6bf5dae2f?api-version=2019-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1178'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_route_filter000001/providers/Microsoft.Network/routeFilters/filter1/routeFilterRules?api-version=2019-08-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"rule1\",\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_network_route_filter000001/providers/Microsoft.Network/routeFilters/filter1/routeFilterRules/rule1\",\r\n
        \     \"etag\": \"W/\\\"6f9322fe-7d28-471d-8b6b-ef836d78ec8c\\\"\",\r\n      \"properties\":
        {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"access\":
        \"Deny\",\r\n        \"routeFilterRuleType\": \"Community\",\r\n        \"communities\":
        [\r\n          \"12076:5040\",\r\n          \"12076:5030\"\r\n        ]\r\n
        \     },\r\n      \"type\": \"Microsoft.Network/routeFilters/routeFilterRules\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/42bcf65c-aaaf-4e11-9853-e79f2d780663?api-version=2019-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
