interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-16T18:52:33Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/routeTables/vcCliTestRouteTable?api-version=2019-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"vcCliTestRouteTable\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/routeTables/vcCliTestRouteTable\",\r\n
        \ \"etag\": \"W/\\\"9249ac01-b1fd-4db7-b13e-03f39264ee9f\\\"\",\r\n  \"type\":
        \"Microsoft.Network/routeTables\",\r\n  \"location\": \"westus\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"ab369860-7cb9-4a8a-8b8c-6e530add94b9\",\r\n
        \   \"disableBgpRoutePropagation\": false,\r\n    \"routes\": []\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/bd2c79f4-f437-449a-a8e9-22c508b82e3b?api-version=2019-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1175'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/bd2c79f4-f437-449a-a8e9-22c508b82e3b?api-version=2019-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"addressPrefix": "0.0.0.0/0", "nextHopType": "Internet"},
      "name": "vcCliTestRouteInternet"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/routeTables/vcCliTestRouteTable/routes/vcCliTestRouteInternet?api-version=2019-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"vcCliTestRouteInternet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/routeTables/vcCliTestRouteTable/routes/vcCliTestRouteInternet\",\r\n
        \ \"etag\": \"W/\\\"ca224115-dd4d-4409-b102-c7beb4541bb3\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"0.0.0.0/0\",\r\n
        \   \"nextHopType\": \"Internet\"\r\n  },\r\n  \"type\": \"Microsoft.Network/routeTables/routes\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/683dc5b6-f523-4c66-aa6f-788387b889a2?api-version=2019-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1172'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24", "nextHopType": "VnetLocal"},
      "name": "vcCliTestRouteVnetLoc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/routeTables/vcCliTestRouteTable/routes/vcCliTestRouteVnetLoc?api-version=2019-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"vcCliTestRouteVnetLoc\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/routeTables/vcCliTestRouteTable/routes/vcCliTestRouteVnetLoc\",\r\n
        \ \"etag\": \"W/\\\"53a21ff8-ed1a-4675-b136-5d803c61acd9\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"nextHopType\": \"VnetLocal\"\r\n  },\r\n  \"type\": \"Microsoft.Network/routeTables/routes\"\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/fbd5ed8b-e0ac-4a7c-9309-2edd7783ad57?api-version=2019-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1178'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/vcCliTestVnet?api-version=2019-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"vcCliTestVnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/vcCliTestVnet\",\r\n
        \ \"etag\": \"W/\\\"338665cd-38b2-4780-9108-c0aa2f416a1c\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"723559ec-4cd5-4d95-a7af-80f33ae9cde3\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/a3ac3d92-6553-4293-8656-072fcc2f9cc9?api-version=2019-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1171'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/vcCliTestVnet",
      "location": "westus", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"properties":
      {"addressPrefix": "10.0.0.0/24", "routeTable": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/routeTables/vcCliTestRouteTable",
      "location": "westus", "properties": {"routes": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/routeTables/vcCliTestRouteTable/routes/vcCliTestRouteInternet",
      "properties": {"addressPrefix": "0.0.0.0/0", "nextHopType": "Internet", "provisioningState":
      "Succeed[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/vcCliTestVnet/subnets/vcCliTestSubnet?api-version=2019-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"vcCliTestSubnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/virtualNetworks/vcCliTestVnet/subnets/vcCliTestSubnet\",\r\n
        \ \"etag\": \"W/\\\"f3d6b5a4-7007-4ea1-b385-917c8e81e9c2\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"routeTable\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.Network/routeTables/vcCliTestRouteTable\"\r\n
        \   },\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\":
        \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n
        \ },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f3d6b5a4-7007-4ea1-b385-917c8e81e9c2"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/capabilities?include=supportedManagedInstanceVersions&api-version=2017-10-01-preview
  response:
    body:
      string: '{"name":"West US","supportedManagedInstanceVersions":[{"name":"12.0","supportedEditions":[{"name":"GeneralPurpose","supportedFamilies":[],"status":"Default"},{"name":"BusinessCritical","supportedFamilies":[],"status":"Available"}],"status":"Default"}],"status":"Visible","reason":"Microsoft
        Internal subscriptions are restricted from provisioning in this region. Please
        choose a different region. For exceptions to this rule please open a support
        request with Issue type of ''Service and subscription limits''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
