interactions:
- request:
    body: '{"location": "westus", "properties": {"administratorLogin": "admin123",
      "administratorLoginPassword": "SecretPassword123"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/servers/clitestserver000002?api-version=2015-05-01-preview
  response:
    body:
      string: '{"operation":"UpsertLogicalServer","startTime":"2019-10-16T18:32:23.433Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/aaa809f1-506a-43d3-80e9-c73088788341?api-version=2015-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverOperationResults/aaa809f1-506a-43d3-80e9-c73088788341?api-version=2015-05-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1165'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/aaa809f1-506a-43d3-80e9-c73088788341?api-version=2015-05-01-preview
  response:
    body:
      string: '{"name":"aaa809f1-506a-43d3-80e9-c73088788341","status":"Failed","startTime":"2019-10-16T18:32:23.433Z","error":{"code":"RegionDoesNotAllowProvisioning","message":"Location
        ''West US'' is not accepting creation of new Windows Azure SQL Database servers
        at this time."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
