interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-16T16:50:19Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"destination": {"endpointType": "StorageQueue", "properties":
      {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DevExpRg/providers/Microsoft.Storage/storageAccounts/devexpstg",
      "queueName": "stogqueuedestination"}}, "filter": {"subjectBeginsWith": "SomeRandomText1",
      "subjectEndsWith": "SomeRandomText2", "isSubjectCaseSensitive": false}, "retryPolicy":
      {"maxDeliveryAttempts": 30, "eventTimeToLiveInMinutes": 1440}, "deadLetterDestination":
      {"endpointType": "StorageBlob", "properties": {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/DevExpRg/providers/Microsoft.Storage/storageAccounts/devexpstg",
      "blobContainerName": "dlq"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/eventSubscriptions/CliTestEventsubscription1?api-version=2019-06-01
  response:
    body:
      string: '{"error":{"code":"LinkedAuthorizationFailed","message":"The client
        has permission to perform action ''Microsoft.Storage/storageAccounts/write''
        on scope ''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventGrid/eventSubscriptions/CliTestEventsubscription1'',
        however the current tenant ''54826b22-38d6-4fb2-bad9-b7b93a3e9c5a'' is not
        authorized to access linked subscription ''5b4b650e-28b9-4790-b3ab-ddbd88d727c4''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 403
      message: Forbidden
version: 1
