interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-04-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 16:46:12 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D752585B6143EF"'
      last-modified:
      - Wed, 16 Oct 2019 16:46:13 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 16:46:14 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/container?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D752585C8CE62C"'
      last-modified:
      - Wed, 16 Oct 2019 16:46:15 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"northeurope","tags":{"product":"azurecli","cause":"automation","date":"2019-10-16T16:45:41Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace","name":"workspace","type":"Microsoft.BatchAI/workspaces","location":"northeurope","properties":{"provisioningState":"succeeded","provisioningStateTransitionTime":"2019-10-16T16:46:20.42Z","creationTime":"2019-10-16T16:46:20.42Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D752585F364F73"
      last-modified:
      - Wed, 16 Oct 2019 16:46:20 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster?api-version=2018-05-01
  response:
    body:
      string: '{"error":{"code":"ClusterNotFound","message":"The specified cluster
        cluster is not found"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: The specified cluster cluster is not found
- request:
    body: '{"properties": {"vmSize": "STANDARD_D1", "scaleSettings": {"manual": {"targetNodeCount":
      1}}, "userAccountSettings": {"adminUserName": "DemoUser", "adminUserSshPublicKey":
      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDKUDnWeK6rx36apNE9ij1iAXn68FKXLTW0009XK/7dyMewlNfXi6Z2opnxHDDYWucMluU0dsvBR22OuYH2RHriPJTi1jN3aZ0zZSrlH/W4MSNQKlG/AnrjJPA3xfYjIKLGuKBqSIvMsmrkuDfIfMaDnPcxb+GzM10L5epRhoP5FwqaQbLqp640YzFSLqMChz7E6RG54CpEm+MRvA7lj9nD9AlYnfRQAKj2thsFrkz7AlYLQ1ug8vV+1Y3xSKDbo5vy6oqM3QKeLiUiyN9Ff1Rq4uYnrqJqcWN1ADfiPGZZjEStOkRgG3V6JrpIN+z0Zl3n+sjrH+CKwrYmyni6D41L"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/185e280f-a345-46d2-8120-2e5a878d5742?api-version=2018-05-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationstatuses/185e280f-a345-46d2-8120-2e5a878d5742?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1188'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/185e280f-a345-46d2-8120-2e5a878d5742?api-version=2018-05-01
  response:
    body:
      string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/185e280f-a345-46d2-8120-2e5a878d5742","name":"185e280f-a345-46d2-8120-2e5a878d5742","status":"Succeeded","startTime":"2019-10-16T16:46:24.315Z","endTime":"2019-10-16T16:46:25.918Z","properties":{"resourceId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590$clitest.rg000001$workspace$cluster"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster","name":"cluster","type":"Microsoft.BatchAI/workspaces/clusters","properties":{"provisioningState":"succeeded","allocationState":"resizing","creationTime":"2019-10-16T16:46:24.305Z","allocationStateTransitionTime":"2019-10-16T16:46:24.305Z","provisioningStateTransitionTime":"2019-10-16T16:46:25.907Z","vmSize":"STANDARD_D1","currentNodeCount":0,"nodeStateCounts":{"runningNodeCount":0,"idleNodeCount":0,"unusableNodeCount":0,"preparingNodeCount":0,"leavingNodeCount":0},"vmPriority":"dedicated","scaleSettings":{"manual":{"targetNodeCount":1,"nodeDeallocationOption":"requeue"}},"virtualMachineConfiguration":{"imageReference":{"publisher":"microsoft-dsvm","offer":"azureml","sku":"runtime","version":"latest"}},"userAccountSettings":{"adminUserName":"DemoUser","adminUserSshPublicKey":"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABAQDKUDnWeK6rx36apNE9ij1iAXn68FKXLTW0009XK/7dyMewlNfXi6Z2opnxHDDYWucMluU0dsvBR22OuYH2RHriPJTi1jN3aZ0zZSrlH/W4MSNQKlG/AnrjJPA3xfYjIKLGuKBqSIvMsmrkuDfIfMaDnPcxb+GzM10L5epRhoP5FwqaQbLqp640YzFSLqMChz7E6RG54CpEm+MRvA7lj9nD9AlYnfRQAKj2thsFrkz7AlYLQ1ug8vV+1Y3xSKDbo5vy6oqM3QKeLiUiyN9Ff1Rq4uYnrqJqcWN1ADfiPGZZjEStOkRgG3V6JrpIN+z0Zl3n+sjrH+CKwrYmyni6D41L"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D7525861871344"
      last-modified:
      - Wed, 16 Oct 2019 16:46:24 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment","name":"experiment","type":"Microsoft.BatchAI/workspaces/experiments","properties":{"provisioningState":"succeeded","provisioningStateTransitionTime":"2019-10-16T16:46:44.074Z","creationTime":"2019-10-16T16:46:44.074Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D752586D4FA0D9"
      last-modified:
      - Wed, 16 Oct 2019 16:46:44 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1191'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job?api-version=2018-05-01
  response:
    body:
      string: '{"error":{"code":"JobNotFound","message":"The specified job job is
        not found"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: The specified job job is not found
[...]
- request:
    body: 'b''b\''{"properties": {"cluster": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster"},
      "mountVolumes": {"azureFileShares": [{"accountName": "clitest000002", "azureFileUrl":
      "https://clitest000002.file.core.windows.net/share", "credentials": {"accountKey":
      "veryFakedStorageAccountKey=="}, "relativeMountPath": "afs"}], "azureBlobFileSystems":
      [{"accountName": "clitest000002", "containerName": "container", "credentials":
      {"accountKey": "veryFakedStorageAccountKey=="}, "relativeMountPath": "bfs"}]},
      "nodeCount": 1, "containerSettings": {"imageSourceRegistry": {"image": "ubuntu"}},
      "customToolkitSettings": {"commandLine": "echo hi | tee $AZ_BATCHAI_OUTPUT_OUTPUT/result.txt"},
      "stdOutErrPathPrefix": "$AZ_BATCHAI_JOB_MOUNT_ROOT/afs", "outputDirectories":
      [{"id": "OUTPUT", "pathPrefix": "$AZ_BATCHAI_JOB_MOUNT_ROOT/bfs", "pathSuffix":
      "output"}]}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/9909b112-7675-4592-8f96-03bf6e654e88?api-version=2018-05-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationstatuses/9909b112-7675-4592-8f96-03bf6e654e88?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1187'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job","name":"job","type":"Microsoft.BatchAI/workspaces/experiments/jobs","properties":{"experimentName":"experiment","schedulingPriority":"normal","cluster":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster"},"jobOutputDirectoryPathSegment":"0b1f6471-1bf0-4dda-aec3-cb9272f09590/clitest.rg000001/workspaces/workspace/experiments/experiment/jobs/job/a9937398-4979-483b-9e7c-8d831fc5e7f8","nodeCount":1,"containerSettings":{"imageSourceRegistry":{"image":"ubuntu"}},"mountVolumes":{"azureFileShares":[{"accountName":"clitest000002","azureFileUrl":"https://clitest000002.file.core.windows.net/share","credentials":{},"relativeMountPath":"afs","fileMode":"0777","directoryMode":"0777"}],"azureBlobFileSystems":[{"accountName":"clitest000002","containerName":"container","credentials":{},"relativeMountPath":"bfs"}]},"toolType":"custom","customToolkitSettings":{"commandLine":"echo
        hi | tee $AZ_BATCHAI_OUTPUT_OUTPUT/result.txt"},"stdOutErrPathPrefix":"$AZ_BATCHAI_JOB_MOUNT_ROOT/afs","outputDirectories":[{"id":"OUTPUT","pathPrefix":"$AZ_BATCHAI_JOB_MOUNT_ROOT/bfs","pathSuffix":"output"}],"constraints":{"maxWallClockTime":"P150D"},"creationTime":"2019-10-16T16:46:47.014Z","provisioningState":"succeeded","provisioningStateTransitionTime":"2019-10-16T16:46:47.369Z","executionState":"queued","executionStateTransitionTime":"2019-10-16T16:46:47.014Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D752586F10392F"
      last-modified:
      - Wed, 16 Oct 2019 16:46:47 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job/listOutputFiles?api-version=2018-05-01&outputdirectoryid=stdouterr&directory=.&linkexpiryinminutes=60&maxresults=1000
  response:
    body:
      string: '{"value":[{"name":"diagnosis-tvmps_f2da2883b6e6e1416d93a8222fe494a2874dd4b0b35efd562b2ef3873a49750f_d.zip","fileType":"file","downloadUrl":"https://clitest000002.file.core.windows.net/share/0b1f6471-1bf0-4dda-aec3-cb9272f09590/clitest.rg000001/workspaces/workspace/experiments/experiment/jobs/job/a9937398-4979-483b-9e7c-8d831fc5e7f8/stdouterr/diagnosis-tvmps_f2da2883b6e6e1416d93a8222fe494a2874dd4b0b35efd562b2ef3873a49750f_d.zip?sv=2018-03-28&sr=f&sig=h6jp0sJapmhO1LZEXTCBpDDFfIdJrUTZ1U9ceO3ylVc%3D&se=2019-10-16T17%3A49%3A09Z&sp=rl","properties":{"lastModified":"2019-10-16T16:48:52Z","contentLength":127727}},{"name":"execution.log","fileType":"file","downloadUrl":"https://clitest000002.file.core.windows.net/share/0b1f6471-1bf0-4dda-aec3-cb9272f09590/clitest.rg000001/workspaces/workspace/experiments/experiment/jobs/job/a9937398-4979-483b-9e7c-8d831fc5e7f8/stdouterr/execution.log?sv=2018-03-28&sr=f&sig=8XlD03jvv2%2Fml9JcDfOj%2FH5j2Gns3vP1FiZRgiMbMTg%3D&se=2019-10-16T17%3A49%3A09Z&sp=rl","properties":{"lastModified":"2019-10-16T16:48:52Z","contentLength":13162}},{"name":"stderr.txt","fileType":"file","downloadUrl":"https://clitest000002.file.core.windows.net/share/0b1f6471-1bf0-4dda-aec3-cb9272f09590/clitest.rg000001/workspaces/workspace/experiments/experiment/jobs/job/a9937398-4979-483b-9e7c-8d831fc5e7f8/stdouterr/stderr.txt?sv=2018-03-28&sr=f&sig=VgmvzNxEHEn3cTfRGaaoGDJWR3ghM5mY88t%2Bj4Yubio%3D&se=2019-10-16T17%3A49%3A09Z&sp=rl","properties":{"lastModified":"2019-10-16T16:48:44Z","contentLength":0}},{"name":"stdout.txt","fileType":"file","downloadUrl":"https://clitest000002.file.core.windows.net/share/0b1f6471-1bf0-4dda-aec3-cb9272f09590/clitest.rg000001/workspaces/workspace/experiments/experiment/jobs/job/a9937398-4979-483b-9e7c-8d831fc5e7f8/stdouterr/stdout.txt?sv=2018-03-28&sr=f&sig=zDR48w5bkxAES1olQsJ3ksMkS93jKtfQHwTXVlLjVQk%3D&se=2019-10-16T17%3A49%3A09Z&sp=rl","properties":{"lastModified":"2019-10-16T16:48:44Z","contentLength":3}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
