interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-04-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 16 Oct 2019 14:54:16 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D75248B806BC21"'
      last-modified:
      - Wed, 16 Oct 2019 14:54:17 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"northeurope","tags":{"product":"azurecli","cause":"automation","date":"2019-10-16T14:53:44Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace","name":"workspace","type":"Microsoft.BatchAI/workspaces","location":"northeurope","properties":{"provisioningState":"succeeded","provisioningStateTransitionTime":"2019-10-16T14:54:22.034Z","creationTime":"2019-10-16T14:54:22.034Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D75248BABDD3D4"
      last-modified:
      - Wed, 16 Oct 2019 14:54:22 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1146'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster?api-version=2018-05-01
  response:
    body:
      string: '{"error":{"code":"ClusterNotFound","message":"The specified cluster
        cluster is not found"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: The specified cluster cluster is not found
- request:
    body: 'b''{"properties": {"vmSize": "STANDARD_D1", "scaleSettings": {"autoScale":
      {"minimumNodeCount": 0, "maximumNodeCount": 1}}, "nodeSetup": {"mountVolumes":
      {"azureFileShares": [{"accountName": "clitest000002", "azureFileUrl": "https://clitest000002.file.core.windows.net/share",
      "credentials": {"accountKey": "veryFakedStorageAccountKey=="}, "relativeMountPath":
      "azfiles", "fileMode": "0777", "directoryMode": "0777"}]}}, "userAccountSettings":
      {"adminUserName": "DemoUser", "adminUserPassword": "DemoPa$$w0rd"}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/3cc44181-75ea-48a1-9e88-ab15435edb56?api-version=2018-05-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationstatuses/3cc44181-75ea-48a1-9e88-ab15435edb56?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1175'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/3cc44181-75ea-48a1-9e88-ab15435edb56?api-version=2018-05-01
  response:
    body:
      string: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/3cc44181-75ea-48a1-9e88-ab15435edb56","name":"3cc44181-75ea-48a1-9e88-ab15435edb56","status":"Succeeded","startTime":"2019-10-16T14:54:25.695Z","endTime":"2019-10-16T14:54:27.306Z","properties":{"resourceId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590$clitest.rg000001$workspace$cluster"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster","name":"cluster","type":"Microsoft.BatchAI/workspaces/clusters","properties":{"provisioningState":"succeeded","allocationState":"steady","creationTime":"2019-10-16T14:54:25.688Z","allocationStateTransitionTime":"2019-10-16T14:54:27.627Z","provisioningStateTransitionTime":"2019-10-16T14:54:27.293Z","vmSize":"STANDARD_D1","currentNodeCount":0,"nodeStateCounts":{"runningNodeCount":0,"idleNodeCount":0,"unusableNodeCount":0,"preparingNodeCount":0,"leavingNodeCount":0},"vmPriority":"dedicated","scaleSettings":{"autoScale":{"minimumNodeCount":0,"maximumNodeCount":1,"initialNodeCount":0}},"virtualMachineConfiguration":{"imageReference":{"publisher":"microsoft-dsvm","offer":"azureml","sku":"runtime","version":"latest"}},"userAccountSettings":{"adminUserName":"DemoUser"},"nodeSetup":{"mountVolumes":{"azureFileShares":[{"accountName":"clitest000002","azureFileUrl":"https://clitest000002.file.core.windows.net/share","credentials":{},"relativeMountPath":"azfiles","fileMode":"0777","directoryMode":"0777"}]}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D75248BCEB82A5"
      last-modified:
      - Wed, 16 Oct 2019 14:54:25 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment","name":"experiment","type":"Microsoft.BatchAI/workspaces/experiments","properties":{"provisioningState":"succeeded","provisioningStateTransitionTime":"2019-10-16T14:54:44.234Z","creationTime":"2019-10-16T14:54:44.234Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D75248C7F96D9E"
      last-modified:
      - Wed, 16 Oct 2019 14:54:44 GMT
      x-ms-ratelimit-remaining-subscription-writes:
      - '1178'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job?api-version=2018-05-01
  response:
    body:
      string: '{"error":{"code":"JobNotFound","message":"The specified job job is
        not found"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: The specified job job is not found
[...]
- request:
    body: 'b''{"properties": {"cluster": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster"},
      "nodeCount": 1, "containerSettings": {"imageSourceRegistry": {"image": "ubuntu"}},
      "customToolkitSettings": {"commandLine": "echo hi | tee $AZ_BATCHAI_OUTPUT_OUTPUT/result.txt"},
      "stdOutErrPathPrefix": "$AZ_BATCHAI_MOUNT_ROOT/azfiles", "outputDirectories":
      [{"id": "OUTPUT", "pathPrefix": "$AZ_BATCHAI_MOUNT_ROOT/azfiles", "pathSuffix":
      "output"}]}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationresults/8a0ed565-bf47-4c86-ad23-b0cd2b571b04?api-version=2018-05-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/northeurope/operationstatuses/8a0ed565-bf47-4c86-ad23-b0cd2b571b04?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1174'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/experiments/experiment/jobs/job","name":"job","type":"Microsoft.BatchAI/workspaces/experiments/jobs","properties":{"experimentName":"experiment","schedulingPriority":"normal","cluster":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BatchAI/workspaces/workspace/clusters/cluster"},"jobOutputDirectoryPathSegment":"0b1f6471-1bf0-4dda-aec3-cb9272f09590/clitest.rg000001/workspaces/workspace/experiments/experiment/jobs/job/b068baae-bb19-4de4-b555-613da5b33992","nodeCount":1,"containerSettings":{"imageSourceRegistry":{"image":"ubuntu"}},"toolType":"custom","customToolkitSettings":{"commandLine":"echo
        hi | tee $AZ_BATCHAI_OUTPUT_OUTPUT/result.txt"},"stdOutErrPathPrefix":"$AZ_BATCHAI_MOUNT_ROOT/azfiles","outputDirectories":[{"id":"OUTPUT","pathPrefix":"$AZ_BATCHAI_MOUNT_ROOT/azfiles","pathSuffix":"output"}],"constraints":{"maxWallClockTime":"P150D"},"creationTime":"2019-10-16T14:54:47.942Z","provisioningState":"succeeded","provisioningStateTransitionTime":"2019-10-16T14:54:53.508Z","executionState":"queued","executionStateTransitionTime":"2019-10-16T14:54:47.942Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0x8D75248CA2F140D"
      last-modified:
      - Wed, 16 Oct 2019 14:54:47 GMT
    status:
      code: 200
      message: OK
[...]
