interactions:
- request:
    body: '{"name": "iotc-cli-test000002", "type": "IoTApps"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.IoTCentral/checkNameAvailability?api-version=2018-09-01
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"16-4/x+wI91pK3bZiWtoOg+Zr/n2HE"
      x-iot-cluster:
      - iotcprodsoutheastasia01
      x-iot-correlation:
      - 1xvcqvpp.0
      x-iot-version:
      - 100719.0002-master
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "iotc-cli-test000002", "type": "IoTApps"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.IoTCentral/checkSubdomainAvailability?api-version=2018-09-01
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"16-4/x+wI91pK3bZiWtoOg+Zr/n2HE"
      x-iot-cluster:
      - iotcprodsoutheastasia01
      x-iot-correlation:
      - 1t6zrew8.0
      x-iot-version:
      - 100719.0002-master
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-10-16T17:34:00Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"displayName": "iotc-cli-test000002",
      "subdomain": "iotc-cli-test000002"}, "sku": {"name": "S1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002?api-version=2018-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002","name":"iotc-cli-test000002","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"c3cf7d32-9d38-4c28-99fe-fe4d8e43a31a","state":"created","displayName":"iotc-cli-test000002","tenant":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","capabilities":{},"subdomain":"iotc-cli-test000002","createdDate":"2019-10-16T17:34:14.358Z","template":"iotc-default@1.0.0"},"sku":{"name":"S1"},"etag":"\"f001f617-0000-0100-0000-5da754970000\""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"f001f617-0000-0100-0000-5da754970000"'
      x-iot-cluster:
      - iotcprodsoutheastasia01
      x-iot-correlation:
      - 76v803j6.0
      x-iot-version:
      - 100719.0002-master
      x-ms-ratelimit-remaining-subscription-writes:
      - '1185'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "properties": {"displayName": "My Custom App Display
      Name", "subdomain": "iotc-cli-test000002-template", "template": "iotc-devkit-sample@1.0.0"},
      "sku": {"name": "S1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002-temp[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"displayName": "iotc-cli-test000002update",
      "subdomain": "iotc-cli-test000002update", "template": "iotc-devkit-sample@1.0.0"},
      "sku": {"name": "S1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      IF-MATCH:
      - '"d000e71c-0000-0100-0000-5da754cc0000"'
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002-template?api-version=2018-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002-template","name":"iotc-cli-test000002-template","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"7df5a885-9603-4ad9-8d2f-70282b075c9d","state":"created","displayName":"iotc-cli-test000002update","tenant":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","capabilities":{},"subdomain":"iotc-cli-test000002update","createdDate":"2019-10-16T17:35:07.259Z","lastUpdated":"2019-10-16T17:35:56.367Z","template":"iotc-devkit-sample@1.0.0"},"sku":{"name":"S1"},"etag":"\"d0007b29-0000-0100-0000-5da754fd0000\""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d0007b29-0000-0100-0000-5da754fd0000"
      x-iot-cluster:
      - iotcprodsoutheastasia01
      x-iot-correlation:
      - ksned6h.0
      x-iot-version:
      - 100719.0002-master
      x-ms-ratelimit-remaining-subscription-writes:
      - '1177'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps?api-version=2018-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002","name":"iotc-cli-test000002","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"c3cf7d32-9d38-4c28-99fe-fe4d8e43a31a","state":"created","displayName":"iotc-cli-test000002","tenant":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","capabilities":{},"subdomain":"iotc-cli-test000002","createdDate":"2019-10-16T17:34:14.358Z","template":"iotc-default@1.0.0"},"sku":{"name":"S1"},"etag":"\"f001f617-0000-0100-0000-5da754970000\""}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2d2-eXHXEAoUJi0IY/DR+eSQLfHTii4"
      x-iot-cluster:
      - iotcprodsoutheastasia01
      x-iot-correlation:
      - 14zm04e3.0
      x-iot-version:
      - 100719.0002-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002?api-version=2018-09-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain
      x-iot-cluster:
      - iotcprodsoutheastasia01
      x-iot-correlation:
      - 65wn2j98.0
      x-iot-version:
      - 100719.0002-master
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14996'
    status:
      code: 200
      message: OK
version: 1
